@CHARSET "UTF-8";

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Malgun Gothic", "맑은 고딕", "돋움", Dotum, Verdana, Arial,
		helvetica, clean, sans-serif;
}

#sortable li {
	margin: 0 0 5px 5px;
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 600;
	background: #fff;
	border: 1px solid #ddd;
	position: relative;
}

#sortable li.ui-sortable-helper {
	background: #f4f4f4;
	border: 1px solod #333;
}

#sortable li.ui-sortable-placeholder {
	background: #f4f4f4;
	border: 2px dotted #666;
}

#sortable li .ico-drag-arrow {
	width: 11px;
	height: 18px;
	margin-right: 10px;
	background: url(../img/sortable-arrow.png) no-repeat left 3px;
	display: inline-block;
	vertical-align: top;
}

#sortable li .delete {
	position: absolute;
	right: 15px;
	top: 7px;
}

#sortable li .delete button.black,input[type='button'].black {
	padding-left: 20px;
	background: url(../img/sortable-delete.png) no-repeat 7px center #555;
}

html>body #sortable li {
	height: 1.5em;
	line-height: 1.2em;
}

.ui-state-highlight {
	height: 1.5em;
	line-height: 1.2em;
}