@CHARSET "UTF-8";
.gridBtnBlock {
	width: 100%;
	margin-bottom: 13px;
	height: 28px;
	text-align: right;
}

[data-ax5grid] [data-ax5grid-container="root"] [data-ax5grid-container="header"] [data-ax5grid-panel] table tr td {
	cursor: unset;
}

[data-ax5grid-container="root"] [data-ax5grid-panel-scroll="body"] table tr> td:FIRST-CHILD {
	cursor: pointer;
    box-shadow: inset 0px 0px 1px 1px #e0eaf3;
    background-color: #eef4f9;
    border-radius: 3px;
    border-bottom: 1px solid #d6d6d6 !important;
    border-right: 2px solid #d6d6d6 !important;
}

[data-ax5grid-container="root"] [data-ax5grid-panel-scroll="body"] table tr> td:FIRST-CHILD:hover {
    background-color: #e4effb;
}

