@CHARSET "UTF-8";

.virticalscroll
{
    height:160px;
    overflow:auto;
}

.fixedTable
{
    table-layout:fixed;
}

.selectEmp
{
    width: 50px;
}
.empNo
{
    width: 80px;
}
.empName
{
    width: 140px;
}
.position
{
    width: 150px;
}
.tel
{
    width: 120px;
}
.email
{
    width: 150px;
}
.job
{
    width: 150px;
}
.hireDate
{
    width: 100px;
}
.saraly
{
    width: 100px;
}
.empNoMgr
{
    width: 120px;
}
.supplementation
{
    width: 150px;
}

.deptName
{
    width: 300px;
}
.locationName
{
    width: 220px;
}

.language
{
    width: 70px;
}

.delbutton
{
    float: left;
    height: 30px;
}
.page1
{
    width: 190px;
    height: 30px;
    float: right;
}

.page2 {
    height: 30px;
    float: right;
}

.recordcount
{
    height: 30px;
    float: right;
}


/* ******* テーブル ******* */
/* テーブルデータ：検索条件入力エリア用 */
table td.search {
    margin: 1px 5px 1px 5px;
    padding: 2px 2px 2px 2px;
    border: 0px;
}

/* テーブルデータ：検索結果表示エリア用 */
table td.data {
    border: 0px none;
    padding: 3px 3px 3px 3px;
}

/* テーブルデータ：検索結果表示エリア(数値等)用 */
table td.data_number {
    border: 0px none;
    padding: 3px 3px 3px 3px;
    text-align: right;
}

/* テーブルデータ：検索結果表示エリア(ラジオボタン等)用 */
table td.data_select {
    text-align: center;
}

/* カレンダー用 */
/* 大きさ調整 */
.ui-datepicker {
    font-size: 85%;
}

/* 土日に色をつける */
table.ui-datepicker-calendar thead th:first-child {
    color: #F00;
}

table.ui-datepicker-calendar thead th:last-child {
    color: #00F;
}

table.ui-datepicker-calendar tbody td:first-child a.ui-state-default{
    color: #F00;
}
table.ui-datepicker-calendar tbody td:last-child a.ui-state-default {
    color: #00F;
}

/* help画面用 */
.help {
  margin: 0;
  padding-top:0px;
}

/* 文字位置指定  */
.control-center{
    text-align: center;
}

/* テキストエリアのボーダーを消す*/
input[type="text"].text_linenone {
    border:none;
    background:none;
}

/* 奇数行のテキストエリアの背景色の設定 */
tr:nth-child(odd) input[type="text"].text_linenone {
    background-color:#ecf0f1 !important;
}

/* ******* For W0009 screen ******* */
/* Style of search result area */
.w0009_resultArea {
    height: 400px; 
    width: 1150px; 
    overflow: auto;
}



/* ******* For W0003 screen ******* */
/* Style of search result area */
.w0003_resultArea {
    height: 400px; 
    width: 950px; 
    overflow: auto;
}

.inputWidth
{
    width: 200px;
}

.outputCellWidth
{
    width: 70px;
}


/* ******* For W0008 screen ******* */
.input-sm2 {
  height: 40px;
  padding: 6px 9px;
  font-size: 13px;
  line-height: 2.0;
  border-radius: 3px;
}

.inputFileUnvisible {
    visibility: hidden;
}

/* Style of conversion result area */
.w0008_resultArea {
    height: 400px; 
    width: 950px; 
    overflow: auto;
}

.outputCellWidth
{
    width: 70px;
}
