@charset "utf-8";

/* ▶▶▶ #head ◀◀◀ */
#head{position:fixed;left:0;right:0;top:0;box-sizing:border-box;width:100%;height:46px;background:#fff;border-bottom:1px solid #bfbfbf;z-index:100;}
  #head .container{position:relative;width:100%;height:46px;margin:0;}
  #head button{border-radius:0;border:none;}
  #head button.menu{display:block;position:absolute;left:10px;top:50%;margin-top:-14px;width:28px;height:28px;background:url(../images/layout/ic_menu.png) 50% 50% no-repeat;background-size:contain;box-shadow:none;}
  #head a.search{display:block;position:absolute;right:10px;top:50%;margin-top:-14px;width:28px;height:28px;background:url(../images/layout/ic_search.png) 50% 50% no-repeat;background-size:contain;box-shadow:none;}
  #head button.back{display:block;position:absolute;left:10px;top:50%;margin-top:-14px;width:28px;height:28px;background:url(../images/layout/ic_back.png) 50% 50% no-repeat;background-size:contain;box-shadow:none;}
  #head button.save{display:block;position:absolute;right:40px;top:50%;margin-top:-14px;width:28px;height:28px;background:url(../images/layout/ic_save1.png) 50% 50% no-repeat;background-size:24px;box-shadow:none;}
  #head a.more{display:block;position:absolute;right:10px;top:50%;margin-top:-14px;width:28px;height:28px;background:url(../images/layout/ic_more.png) 50% 50% no-repeat;background-size:24px;box-shadow:none;}
  #head h1{font-size:17px;color:#393939;margin:0;padding:0;text-align:center;line-height:46px;font-weight:500;height:46px;}

/* ▶▶▶ #tnb1 ◀◀◀ */    
#tnb1{display:none;position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000;}
#tnb1 .bg{position:absolute;left:0;top:0;width:100vw;height:100vh;background: url(../images/layout/bg_opacity_50.png) 0 0 repeat;z-index:1;}
#tnb1 .d1{position:absolute;left:0;top:0;width:240px;height:100vh;z-index:2;background:#fff;}
  #tnb1 .d1 .tnb1_head{position:relative;margin:25px 20px 20px 20px;text-align:center;}
    #tnb1 .d1 .tnb1_head .logo{width:98px;height:20px;background:url(../images/layout/logo.png) 0 0 no-repeat; background-size:contain;margin:0 auto;}  
    #tnb1 .d1 .tnb1_head .t1{color:#282828;margin:8px 0;}    
    #tnb1 .d1 .tnb1_head .t2{color:#dc0032;border:1px solid #dc0032;padding:5px 0;border-radius:5px;}
  #tnb1 .d1>ul>li{padding:0 15px 0 66px;border-bottom:1px solid #e9e9e9;background:url() 32px 17px no-repeat;background-size:17px;}
  #tnb1 .d1>ul>li:first-child {border-top:1px solid #e9e9e9;}
  #tnb1 .d1>ul>li>a{font-size:15px;color:#393939;font-weight:400;line-height:52px;}
  #tnb1 .d1>ul>li.m1{background-image:url(../images/layout/ic_m1.png);}/*클레임접수*/
  #tnb1 .d1>ul>li.m2{background-image:url(../images/layout/ic_m3.png);}/*비용청구*/
  #tnb1 .d1>ul>li.m3{background-image:url(../images/layout/ic_m5.png);}/*공지사항*/
  #tnb1 .d1>ul>li.m4{background-image:url(../images/layout/ic_m6.png);}/*자료실*/
  /*#tnb1 .d1>ul>li.m5{background-image:url(../images/layout/ic_m5.png);}
  #tnb1 .d1>ul>li.m6{background-image:url(../images/layout/ic_m6.png);}*/

/* ▶▶▶ #pop_search ◀◀◀ */      
#pop_search{display:none;position:absolute;left:0;top:0;width:100%;height:46px;overflow:hidden;z-index:101;background:#282828;}
#pop_search select{position:absolute;left:10px;top:7px;padding: 0 5px;width:97px;height:30px;line-height:28px;border-bottom:1px solid #d8d8d8;background:#282828;color:#fff;font-size:14px;border-radius:5px;}
#pop_search input[type="text"]{position:absolute;left:112px;top:7px;padding: 0 35px 0 10px;width:calc(100% - 155px);height:30px;line-height:28px;border-bottom:1px solid #d8d8d8;background:#282828;color:#fff;font-size:14px;border-radius:5px;}
#pop_search input[type="text"].search1{left:10px;top:7px;width:calc(100% - 55px);}
#pop_search button[type="submit"]{position:absolute;right:45px;top:7px;display:block;width:30px;height:30px;background:url(../images/layout/ic_search_w.png) 50% 50% no-repeat;background-size:20px;border:none;}
#pop_search a.close{position:absolute;right:0px;top:50%;margin-top:-20px;display:block;width:40px;height:40px;background:url(../images/layout/ic_close_w.png) 0 0 no-repeat;background-size:contain;}

/* ▶▶▶ #pop_option ◀◀◀ */  
#pop_option{display:none;position:absolute;right:10px;top:9px;z-index:1;}
#pop_option a.close{position:absolute;right:0px;top:0;display:block;width:30px;height:30px;background:#393939 url(../images/layout/ic_close_w.png) 0 0 no-repeat;background-size:contain;border-radius:5px 5px 0 0 ;}
#pop_option .wrap{margin:30px 0px 0 0;background:#393939;padding:10px 15px;border-radius:5px 0 5px 5px;text-align:center;}
#pop_option ul li{line-height:1.666;}
#pop_option ul li a{color:#fff;}

/* ▶▶▶ #body_content ◀◀◀ */
#body_content{position:relative;width:100%;/*height:calc(100vh - 46px);*/padding-top:46px;padding-bottom:10px;}
#body_content.body_cnb1{margin-bottom:56px;}
#body_content.bg-white{background:#fff;}
#body_content .container{margin:10px 10px;}
#body_content h2{margin:20px 0 5px 0;padding:0 0 0 23px;line-height:1.222;font-weight:400;color:#393939;background:url(../images/template/h2bg1.png) 0 50% no-repeat;}
#body_content h2:nth-child(1){margin-top:15px;}

/* ▶▶▶ #cnb1 ◀◀◀ */      
#cnb1{position:fixed;left:0;right:0;bottom:0;width:100%;height:56px;overflow:hidden;z-index:101;background:#fff;border-top:1px solid #bfbfbf;}
#cnb1:after{content:'';display:block;clear:both;}
#cnb1 li{box-sizing:border-box;float:left;width:33.33%;height:56px;text-align:center;}
#cnb1 ul.col2 li{width:50%;}
#cnb1 li a{display:block;width:100%;height:100%;font-size:14px;font-weight:600;color:#282828;}
#cnb1 li a i{display:block;width:23px;height:23px;background:url() 0 0 no-repeat;background-size:contain;margin:5px auto 3px auto;}
#cnb1 li a .t1{display:block;}
#cnb1 li.on{border-bottom:3px solid #dc0032;}
#cnb1 li.on a {color:#dc0032;}
#cnb1 li a i.ic1{background-image:url(../images/template/cnb1_ic1.png);} /* 서비스접수 */
#cnb1 li.on a i.ic1{background-image:url(../images/template/cnb1_ic1on.png);} 
#cnb1 li a i.ic2{background-image:url(../images/template/cnb1_ic2.png);} /* 현상/DTC */
#cnb1 li.on a i.ic2{background-image:url(../images/template/cnb1_ic2on.png);} 
#cnb1 li a i.ic3{background-image:url(../images/template/cnb1_ic3.png);} /* 상담 */
#cnb1 li.on a i.ic3{background-image:url(../images/template/cnb1_ic3on.png);} 
#cnb1 li a i.ic4{background-image:url(../images/template/cnb1_ic4.png);} /* 조사 */
#cnb1 li.on a i.ic4{background-image:url(../images/template/cnb1_ic4on.png);}
#cnb1 li a i.ic5{background-image:url(../images/template/cnb1_ic5.png);} /* 결과 */
#cnb1 li.on a i.ic5{background-image:url(../images/template/cnb1_ic5on.png);}
#cnb1 li a i.ic6{background-image:url(../images/template/cnb1_ic6.png);} /* 비용 */
#cnb1 li.on a i.ic6{background-image:url(../images/template/cnb1_ic6on.png);}

.cnb2{width:100%;}
.cnb2 ul:after{content:'';display:block;clear:both;}
.cnb2 ul li{float:left;display:block;box-sizing:border-box;border:1px solid #bfbfbf;border-radius:5px 5px 0 0;height:30px;line-height:30px;text-align:center;margin-left:-1px;}
.cnb2 ul li:first-child{margin-left:0;}
.cnb2 ul li a{display:block;width:100%;height:100%;color:#666;}
.cnb2 ul li.on{border-bottom:none;}
.cnb2 ul li.on a{color:#dc0032;}
.cnb2 ul li.on a span{border-bottom:2px solid #dc0032;}
.cnb2 ul.col2 li{width:50%;}
.cnb2 ul.col3 li{width:33.33%;}
.cnb2 ul.col4 li{width:25%;}
.cnb2 ul.col5 li{width:20%;}

@media all and (min-width:470px){

}
