.login-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100vw;
  height:100vh;
  background: red url(../img/login-bg.jpg) no-repeat;
  background-size: cover;
}

.login-box {
  width: 474px;
  height: 443px;
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-237px;
  margin-top:-323.5px;
  padding-top:200px;
  z-index: 1;
  text-align: center;
  background:#fff url(../img/login/logo.png) 50% 0 no-repeat;
}

.login-box .title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 60px;
}

.login-left {
  text-align:center;
}

.login-left input[type=text], input[type=password] {
  width: 340px;
  height: 40px;
  border:1px solid #b5b5b5;
  padding-left:40px;
  font-size:14px;
  margin-bottom: 10px;
}
.login-left .id {
  background: url(../img/login/id-icon.png) no-repeat 0 50% #fff;
}

.login-left .pw {
  background: url(../img/login/pw-icon.png) no-repeat 0 50% #fff;
}

.login-bnt {
  width: 387px;
  height: 50px;
  background: #db002c;
  color: #fff;
  font-size: 17px;
  font-weight:bold;
/*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) */
}

.login-left .id:focus::-webkit-input-placeholder {
  opacity: 0;
}

/* chrome */
.login-left .id:focus::-moz-placeholder {
  opacity: 0;
}

/* firefox */
.login-left .pw:focus::-webkit-input-placeholder {
  color: transparent;
}

/* chrome */
.login-left .pw:focus::-moz-placeholder {
  color: transparent;
}

/* firefox */

.login-radio {
  clear: both;
  text-align: left;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  color: #fff;
  margin-right: 160px;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 30px;
  height: 27px;
  background: url(../img/login/radio-bnt.png) left top no-repeat;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label span {
  background: url(../img/login/radio-bnt_R.png) left top no-repeat;
  vertical-align: middle;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #fff;
}

input[type="radio"] + label.type1 {
  margin-right: 15px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 27px;
  background: url(../img/login/radio-bnt.png) left top no-repeat;
  vertical-align: middle;
}

input[type="radio"]:checked + label span {
  background: url(../img/login/radio-bnt_R.png) left top no-repeat;
}

.LB-bottom-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.login-text {
  text-align: left;
  color: #fff;
  overflow: hidden;
  border-top:1px solid #e2e1e1;
  width:388px;
  margin:0 auto;
  color:#9c9c9c;
}

.login-text .left{
  margin-bottom: 5px;
  padding-left:10px;
  background:url(../img/login/ic_bu.png) 0 12px no-repeat;
}
.login-text .right{
  margin-bottom: 5px;
  padding-left:10px;
  background:url(../img/login/ic_bu.png) 0 10px no-repeat;
}

.login-text .left a.pop-bnt{display:inline-block;padding:3px 10px;border:1px solid #9c9c9c;border-radius: 30px; color:#9c9c9c;margin-left:10px;}
/*
.login-text .left a {
  display: inline-block;
  width: 80px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 3px 15px;
  margin-left: 10px;
}
*/
.lText-pop {
  width: 400px;
  background: #fff;
  color: #333;
  position: absolute;
  top: 50%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
  display: none;
}

.lText-pop p.tit {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #dc2217;
  padding-bottom: 10px;
  padding: 7px 10px;
  position: relative;
}

.lText-pop p.tit .close {
  position: absolute;
  top: 6px;
  right: 12px;
  color: #fff;
}

.lText-pop p.stxt {
  padding: 20px 15px;
}

.login-text .right a {
  display: inline-block;
  width: 80px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
  padding: 3px 15px;
  margin-left: 10px;
}

/* dev-j */
.login-text .right a {
  width: auto;
}

.login-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.login-bg div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.login-bg img {
  width: 100%;
  height: 100%;
}

.loginFail {
  width: 385px;
  background: #fff;
  color: #333;
  position: absolute;
  top: 323px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.loginFail p.tit {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #dc2217;
  padding-bottom: 10px;
  padding: 7px 10px;
  border-radius: 5px;
  position: relative;
}

.loginFail p.tit .close {
  position: absolute;
  top: 6px;
  right: 12px;
  color: #fff;
}

.copyright{position:absolute;bottom:0;left:0;width:100%;height:50px;line-height:50px;background:#e5e5e5;text-align:center;color:#898989;}