<?xml version="1.0" encoding="UTF-8"?>
<!--
 * [JP] applicationContext-akatsuki-residentJob.xml (編集不可)
 * [JP]
 * [JP] Akatsuki(Spring) 常駐ジョブ用の基底設定ファイルです。
 * [JP]
 * [JP] 常駐を実装する場合は、この設定ファイルを import して各ジョブの設定ファイルを
 * [JP] 作成してください。
 * 
 * [EN] applicationContext-akatsuki-residentJob.xml (Not editable)
 * [EN]
 * [EN] This is the base configuration file for the resident job Akatsuki (Spring).
 * [EN]
 * [EN] If you implement a resident, 
 * [EN] please create a configuration file for each job to import this configuration file.
 * 
 * $ applicationContext-akatsuki-residentJob.xml 1496 2015-05-11 08:53:10Z 815372040074 $
 *
 * Copyright (c) 2015 DENSO IT SOLUTIONS. All rights reserved.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

    <!-- [JP] AOP設定用Spring設定ファイル -->
    <!-- [EN] Spring configuration file for configuration AOP -->
    <import resource="applicationContext-akatsuki-aop.xml" />
    
    <!-- [JP] JDBC設定用のSpring設定ファイル -->
    <!-- [EN] Spring configuration file for configuration JDBC -->
    <import resource="applicationContext-akatsuki-jdbc.xml" />

    <!-- [JP] SACT自動生成 Spring設定ファイル -->
    <!-- [EN] Spring configuration file for automatically generated SACT -->
    <import resource="applicationContext-akatsuki-dao_auto.xml" />
    <import resource="applicationContext-akatsuki-service_auto.xml" />

    <!-- [JP] FacadeService実装 -->
    <!-- [EN] FacadeService implementation -->
    <!-- [JP] 履歴管理用のFacadeService -->
    <!-- [EN] FacadeService for history management -->
    <bean id="historyManageCoreNewTransactionFacadeService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.HistoryManageCoreNewTransactionFacadeServiceImpl">
        <property name="queueService" ref="queueService" />
        <property name="queueExecuteHistoryService" ref="queueExecuteHistoryService" />
        <property name="queueHistoryService" ref="queueHistoryService" />
        <property name="aijbResidentReqManageService" ref="aijbResidentReqManageService" />
        <property name="residentReqCreateHistoryService" ref="residentReqCreateHistoryService" />
        <property name="aijbMessageLogManageService" ref="aijbMessageLogManageService" />
        <property name="messageLogCreateHistoryService" ref="messageLogCreateHistoryService" />
    </bean>

    <!-- [JP] 履歴管理用のFacadeService -->
    <!-- [EN] FacadeService for history management -->
    <bean id="historyManageCoreFacadeService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.HistoryManageCoreFacadeServiceImpl">
        <property name="jobManageService" ref="jobManageService" />
        <property name="jobHistoryService" ref="jobHistoryService" />
        <property name="queueService" ref="queueService" />
        <property name="queueExecuteHistoryService" ref="queueExecuteHistoryService" />
        <property name="queueHistoryService" ref="queueHistoryService" />
        <property name="historyManageCoreNewTransactionFacadeService" ref="historyManageCoreNewTransactionFacadeService" />
        <property name="residentReqCreateHistoryService" ref="residentReqCreateHistoryService" />
        <property name="residentReqDeleteHistoryService" ref="residentReqDeleteHistoryService" />
        <property name="messageLogCreateHistoryService" ref="messageLogCreateHistoryService" />
        <property name="messageLogDeleteHistoryService" ref="messageLogDeleteHistoryService" />
    </bean>

    <!-- [JP] QUEUE_MANAGE操作用のFacadeService -->
    <!-- [EN] FacadeService for operation QUEUE_MANAGE -->
    <bean id="queueFacadeService"
        class="com.globaldenso.ai.akatsuki.business.service.QueueCoreFacadeServiceImpl">
        <property name="queueService" ref="queueService" />
        <property name="jobManageService" ref="jobManageService" />
        <property name="queueExecuteHistoryService" ref="queueExecuteHistoryService" />
        <property name="jobYmdCalculation" ref="jobYmdCalculation" />
    </bean>

    <!-- [JP] Service実装 -->
    <!-- [EN] Service implementation -->
    <!-- [JP] QUEUE_MANAGE操作用のService -->
    <!-- [EN] Service for operation QUEUE_MANAGE -->
    <bean id="queueService"
        class="com.globaldenso.ai.akatsuki.business.service.QueueServiceImpl">
        <property name="queueInfDao" ref="queueInfDao" />
        <property name="jobManageDao" ref="jobManageDao" />
        <property name="queueExecuteHistoryService" ref="queueExecuteHistoryService" />
    </bean>

    <!-- [JP] JOB_MANAGE操作用のService -->
    <!-- [EN] Service for operation JOB_MANAGE -->
    <bean id="jobManageService"
        class="com.globaldenso.ai.akatsuki.business.service.JobManageServiceImpl">
        <property name="jobManageDao" ref="jobManageDao" />
    </bean>

    <!-- [JP] JOB_HISTORY操作用のService -->
    <!-- [EN] Service for operation JOB_HISTORY -->
    <bean id="jobHistoryService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.JobHistoryServiceImpl">
        <property name="jobHistoryDao" ref="jobHistoryDao" />
    </bean>

    <!-- [JP] QUEUE_EXECUTE_HISTORY操作用のService -->
    <!-- [EN] Service for operation QUEUE_EXECUTE_HISTORY -->
    <bean id="queueExecuteHistoryService"
        class="com.globaldenso.ai.akatsuki.business.service.QueueExecuteHistoryServiceImpl">
        <property name="queueExecuteHistoryInfDao" ref="queueExecuteHistoryInfDao" />
        <property name="queueService" ref="queueService" />
    </bean>

    <!-- [JP] QUEUE_HISTORY操作用のService -->
    <!-- [EN] Service for operation QUEUE_HISTORY -->
    <bean id="queueHistoryService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.QueueHistoryServiceImpl">
        <property name="queueHistoryDao" ref="queueHistoryDao" />
    </bean>

    <!-- [JP] AIJB_RESIDENT_REQ_MANAGE操作用Serviceの拡張版 -->
    <!-- [EN] An enhanced version of the Service for operation AIJB_RESIDENT_REQ_MANAGE -->
    <bean id="residentReqCreateHistoryService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.ResidentReqCreateHistoryServiceImpl">
        <property name="residentReqCreateHistoryDao" ref="residentReqCreateHistoryDao" />
    </bean>

    <!-- [JP] AIJB_RESIDENT_REQ_HISTORY操作用Serviceの拡張版 -->
    <!-- [EN] An enhanced version of the Service for operation AIJB_RESIDENT_REQ_HISTORY -->
    <bean id="residentReqDeleteHistoryService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.ResidentReqDeleteHistoryServiceImpl">
        <property name="residentReqDeleteHistoryDao" ref="residentReqDeleteHistoryDao" />
    </bean>

    <!-- [JP] AIJB_MESSAGE_LOG_MANAGE操作用Serviceの拡張版 -->
    <!-- [EN] An enhanced version of the Service for operation AIJB_MESSAGE_LOG_MANAGE -->
    <bean id="messageLogCreateHistoryService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.MessageLogCreateHistoryServiceImpl">
        <property name="messageLogCreateHistoryDao" ref="messageLogCreateHistoryDao" />
    </bean>

    <!-- [JP] AIJB_MESSAGE_LOG_HISTORY操作用Serviceの拡張版 -->
    <!-- [EN] An enhanced version of the Service for operation AIJB_MESSAGE_LOG_HISTORY -->
    <bean id="messageLogDeleteHistoryService"
        class="com.globaldenso.ai.akatsuki.aijm.business.service.MessageLogDeleteHistoryServiceImpl">
        <property name="messageLogDeleteHistoryDao" ref="messageLogDeleteHistoryDao" />
    </bean>

    <!-- [JP] DAO実装 -->
    <!-- [EN] DAO implementation -->
    <bean id="queueInfDao"
        class="com.globaldenso.ai.akatsuki.integration.QueueInfDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="jobManageDao"
        class="com.globaldenso.ai.akatsuki.integration.JobManageDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="queueExecuteHistoryInfDao"
        class="com.globaldenso.ai.akatsuki.integration.QueueExecuteHistoryInfDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="jobHistoryDao"
        class="com.globaldenso.ai.akatsuki.aijm.integration.JobHistoryDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="queueHistoryDao"
        class="com.globaldenso.ai.akatsuki.aijm.integration.QueueHistoryDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="residentReqCreateHistoryDao"
        class="com.globaldenso.ai.akatsuki.aijm.integration.ResidentReqCreateHistoryDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="residentReqDeleteHistoryDao"
        class="com.globaldenso.ai.akatsuki.aijm.integration.ResidentReqDeleteHistoryDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="messageLogCreateHistoryDao"
        class="com.globaldenso.ai.akatsuki.aijm.integration.MessageLogCreateHistoryDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>
    <bean id="messageLogDeleteHistoryDao"
        class="com.globaldenso.ai.akatsuki.aijm.integration.MessageLogDeleteHistoryDaoImpl">
        <property name="sqlSessionTemplate">
            <ref bean="sqlSessionTemplate" />
        </property>
    </bean>

    <!-- Utility実装 -->
    <!-- ======================================================================================== -->
    <!-- JobYmdCalculation -->
    <bean id="jobYmdCalculation" class="com.globaldenso.ai.akatsuki.util.JobYmdCalculationImpl">
        <property name="aijbSysManageService" ref="aijbSysManageService" />
    </bean>

</beans>
