<?xml version="1.0" encoding="UTF-8"?>
<!--
 * mybatis-config.xml
 *
 * AI-J3(MyBatis) の  設定ファイルです。
 *
 * $ mybatis-config.xml 1757 2015-07-03 05:43:12Z 10088DS00879 $
 *
 * Copyright (c) 2015 DENSO IT SOLUTIONS. All rights reserved.
-->
<!DOCTYPE configuration PUBLIC
    "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- [EN] Logger Implementation Definition -->
    <!-- [JP] Logger実装定義 -->
    <settings>
        <!-- [JP] MyBatisのデフォルトLoggerはSLF4Jです -->
        <!-- [EN] Default Logger of MyBatis is SLF4J -->
        <setting name="logImpl" value="LOG4J2" />
        <!-- JDBC type in the case that the field domain is null (Can not be changed) -->
        <setting name="jdbcTypeForNull" value="NULL" />
        <!-- Scope of local cache (Can not be changed) -->
        <setting name="localCacheScope" value="STATEMENT" />
        <setting name="defaultExecutorType" value="BATCH" />
        <setting name="defaultStatementTimeout" value="50000" />
    </settings>

    <!-- [EN] Alias Definition of Domain -->
    <!-- [JP] Domainの別名定義 -->
    <typeAliases>
        <typeAlias alias="MenuDomain" type="com.globaldenso.dnkr.domain.MenuDomain" />
        <typeAlias alias="AnswerDomain" type="com.globaldenso.dnkr.domain.AnswerDomain" />
        <typeAlias alias="AuthDomain" type="com.globaldenso.dnkr.domain.AuthDomain" />
        <typeAlias alias="PrivateAuthDomain" type="com.globaldenso.dnkr.domain.PrivateAuthDomain" />
        <typeAlias alias="BoardDomain" type="com.globaldenso.dnkr.domain.BoardDomain" />
        <typeAlias alias="BoardFileDomain" type="com.globaldenso.dnkr.domain.BoardFileDomain" />
        <typeAlias alias="BoardTextDomain" type="com.globaldenso.dnkr.domain.BoardTextDomain" />
        <typeAlias alias="BoardInfoDomain" type="com.globaldenso.dnkr.domain.BoardInfoDomain" />
        <typeAlias alias="CodeDomain" type="com.globaldenso.dnkr.domain.CodeDomain" />
        <typeAlias alias="EmpDomain" type="com.globaldenso.dnkr.domain.EmpDomain" />
        <typeAlias alias="LogDomain" type="com.globaldenso.dnkr.domain.LogDomain" />
        <typeAlias alias="LoginDomain" type="com.globaldenso.dnkr.domain.LoginDomain" />
        <typeAlias alias="QuestionDomain" type="com.globaldenso.dnkr.domain.QuestionDomain" />
        <typeAlias alias="RelationClsDomain" type="com.globaldenso.dnkr.domain.RelationClsDomain" />
        <typeAlias alias="RelationLocDomain" type="com.globaldenso.dnkr.domain.RelationLocDomain" />
        <typeAlias alias="RelationTeamDomain" type="com.globaldenso.dnkr.domain.RelationTeamDomain" />
        <typeAlias alias="ResultDomain" type="com.globaldenso.dnkr.domain.ResultDomain" />
        <typeAlias alias="SurveyDomain" type="com.globaldenso.dnkr.domain.SurveyDomain" />
        <typeAlias alias="TargetDomain" type="com.globaldenso.dnkr.domain.TargetDomain" />
        <typeAlias alias="PjtDomain" type="com.globaldenso.dnkr.domain.PjtDomain" />
        <typeAlias alias="WorkSortDomain" type="com.globaldenso.dnkr.domain.WorkSortDomain" />
        <typeAlias alias="WorkStatsDomain" type="com.globaldenso.dnkr.domain.WorkStatsDomain" />
        <typeAlias alias="PersonalDetailDomain" type="com.globaldenso.dnkr.domain.PersonalDetailDomain" />
        <typeAlias alias="WorkConfirmDomain" type="com.globaldenso.dnkr.domain.WorkConfirmDomain" />
        <typeAlias alias="MaDeptDomain" type="com.globaldenso.dnkr.domain.MaDeptDomain" />
        <typeAlias alias="MaEmpDomain" type="com.globaldenso.dnkr.domain.MaEmpDomain" />
        <typeAlias alias="BkmkDomain" type="com.globaldenso.dnkr.domain.BkmkDomain" />
        <typeAlias alias="ContractDomain" type="com.globaldenso.dnkr.domain.ContractDomain" />
        <typeAlias alias="SheetDomain" type="com.globaldenso.dnkr.domain.SheetDomain" />
        <typeAlias alias="OrderDomain" type="com.globaldenso.dnkr.domain.OrderDomain" />
        <typeAlias alias="OrderQtyDomain" type="com.globaldenso.dnkr.domain.OrderQtyDomain" />
        <typeAlias alias="LinkDomain" type="com.globaldenso.dnkr.domain.LinkDomain" />
        <typeAlias alias="SsoAccountDomain" type="com.globaldenso.dnkr.domain.SsoAccountDomain" />
        <typeAlias alias="SsoAuthDomain" type="com.globaldenso.dnkr.domain.SsoAuthDomain" />
        <typeAlias alias="SessionDomain" type="com.globaldenso.dnkr.domain.SessionDomain" />
        <typeAlias alias="ExceptionCodeDomain" type="com.globaldenso.dnkr.domain.ExceptionCodeDomain" />
        
    </typeAliases>

    <mappers>
        <!-- ================================================================================ -->
        <!-- [EN] Definition of automatic generation SqlMap,  From here -->
        <!-- [JP] 自動生成SqlMapの定義 ここから -->
        <!-- ================================================================================ -->



        <!-- ================================================================================ -->
        <!-- [EN] Definition of automatic generation SqlMap,  Up here -->
        <!-- [JP] 自動生成SqlMapの定義 ここまで -->
        <!-- ================================================================================ -->

        <!-- ================================================================================ -->
        <!-- [EN] Common library of Application Development Infrastructure -->
        <!-- [EN] If you use the common library of the Application Development Infrastructure, -->
        <!-- [EN] please add the definition to the bottom of this. -->
        <!-- [JP] アプリ基盤 共通部品 -->
        <!-- [JP] アプリ基盤の提供する共通部品を利用する場合はこの下に定義を追加してください。 -->
        <!-- ================================================================================ -->



        <!-- ================================================================================ -->

        <!-- ================================================================================ -->
        <!-- [EN] Individual settings app -->
        <!-- [EN] Please add this under the definitions that you create a separate app. -->
        <!-- [JP] アプリ個別設定 -->
        <!-- [JP] アプリ個別で作成した定義はこの下に追加してください。 -->
        <!-- ================================================================================ -->

        <!-- [EN] Board sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Board.xml" />
        
        <!-- [EN] Common code sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Code.xml" />
        
        <!-- [EN] Emp sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Emp.xml" />
        
        <!-- [EN] Menu code sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Menu.xml" />
        
        <!-- [EN] RelationCls sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-RelationCls.xml" />
        
        <!-- [EN] RelationLoc sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-RelationLoc.xml" />
        
        <!-- [EN] RelationTeam sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-RelationTeam.xml" />
        
        <!-- [EN] Auth sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Auth.xml" />
        
        <!-- [EN] PrivateAuth sqlMap -->
        <!-- [JP] -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-PrivateAuth.xml" />
        
        <!-- [EN] Log sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Log.xml" />
        
        <!-- [EN] Project sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Pjt.xml" />
        
        <!-- [EN] WorkSort sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-WorkSort.xml" />
        
        <!-- [EN] WorkStats sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-WorkStats.xml" />
        
        <!-- [EN] PersonalDetail sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-PersonalDetail.xml" />
        
        <!-- [EN] WorkConfirm sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-WorkConfirm.xml" />
        
        <!-- [EN] Bkmk sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Bkmk.xml" />
        
        <!-- [EN] Survey sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Survey.xml" />
        
        <!-- [EN] Contract sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Contract.xml" />
        
        <!-- [EN] Sheet sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Sheet.xml" />
        
        <!-- [EN] Order sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Order.xml" />
        
          <!-- [EN] Link management sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Link.xml" />
        
        
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Edu.xml" />
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-EduUser.xml" />

    </mappers>

</configuration>