@charset "utf-8";

.bg{display:blcok;width:100vw;height:100vh;background:url(../images/login/bg.jpg) 0 0 no-repeat;background-size:cover;}

#login{position:absolute;top:50%;left:50%;width:270px;height:300px;margin-left:-135px;margin-top:-150px;background:#fff;z-index:1;}
#login h1{width:120px;height:48px;background:url(../images/login/h1bg1.png) 0 0 no-repeat;background-size:100%;text-indent:-9999px;margin:35px auto 0px auto;}
#login .wrap{padding:20px 25px 0px 25px;}

#login input{width:100%;border:1px solid #b5b5b5;height:30px;margin-bottom:5px;font-size:13px;font-size:300;border-radius:0px;text-indent:24px;}
#login input:focus{border:1px solid #db002c;color:#db002c}
#login button[type='submit']{width:100%;height:32px;background:#db002c;color:#fff;border:none;font-size:14px;font-weight:400;}
#login input.ic_user{background:url(../images/login/id-icon.png) 0 50% no-repeat;background-size:28px;}
#login input:focus.ic_user{background-image:url(../images/login/id-icon_on.png);}
#login input.ic_pwd{background:url(../images/login/pw-icon.png) 0 50% no-repeat;background-size:28px;}
#login input:focus.ic_pwd{background-image:url(../images/login/pw-icon_on.png);}

#login address{position:absolute;bottom:0;width:100%;background:#e5e5e5;font-size:11px;line-height:1.222;color:#898989;padding:10px 0;text-align:center;}