@charset "utf-8";

#visual{position:relative;width:100%;height:75px;overflow:hidden;background:#424d64 url(../images/main/main_visual.jpg) 50% 50% no-repeat;background-size:cover%;}
#visual .vTxt{position:absolute;left:50%;top:50%;margin-top:-22.5px;margin-left:-67.5px;width:135px;height:45px;}
#visual .vTxt .t1c1{width:45px; height:45px; background:url(../images/main/visual_icon.png) 0 0 no-repeat; background-size:contain; position:absolute; top:0; left:0;}
#visual .vTxt .t1c2{width:85px; height:20px; background:url(../images/main/visual_logo.png) 0 0 no-repeat; background-size:contain; position:absolute; top:5px; right:0;}
#visual .vTxt .t1c3{width:90px; color:#fff; font-size:12px;position:absolute; bottom:3px; right:0;text-align:center;}
 

#body_content .container{margin:10px 10px;}
