@charset "utf-8";

@font-face{
	font-family:"NanumBarunGothic";
	src:url(../fonts/NanumBarunGothic.eot);
	src:url(../fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
	url(../fonts/NanumBarunGothic.woff) format('woff'),
	url(../fonts/NanumBarunGothic.ttf) format('truetype');
	src:local('?'), url(../fonts/NanumBarunGothic.woff) format('woff');
}
