@charset "utf-8";

/* 검색 */
.search1 {position:relative; margin-bottom:15px; padding: 10px 15px 13px 15px; border:1px solid #bbb; border-radius:5px;background:#e6e6e6;}
.search1:after{content:'';display:table;clear:both;}
.search1 .left{float:left;width:50%;}
.search1 .right{float:right;width:50%;text-align:right;}

/*
.search1 button[type="submit"].button{background:#6c757d;}
.search1 button[type="submit"].button:hover{background:#505961;}
*/
.search1 button.button{background:#6c757d;}
.search1 button.button:hover{background:#505961;}


.search1 p{margin-top:10px;}
.search1 b.em{color:#e05652;}

.search1 table{width:100%;}
.search1 td {padding:0 5px 0 0;}
.search1 td .button{border:none;color:#fff;/*font-size:15px;padding-left:3px;padding-right:3px;*/white-space:nowrap;padding-left:4px;padding-right:4px;}
.search1 th{text-align:left;color:#444;background:url(../img/lib/th_bg2.png) 3px 48% no-repeat;padding-left:12px;}
.search1 table input[type="text"],
.search1 table select{width:100%;}
.search1 .button.br2{width:80px;height:78px;text-align:center;}

.search2 button.button{background:#6c757d;border-color:#6c757d;color:#fff;font-size:13px;}
.search2 button.button:hover{background:#505961;border-color:#505961;}

/* 리스트 */
table.bList{width:100%;margin:10px 0;border:0;border-collapse:collapse;border-top:3px solid #34241e;border-bottom:1px solid #34241e;border-left:1px solid #bbb;}
table.bList>*>tr>th,
table.bList>*>tr>td{padding:.3em .32em;border:1px solid #bbb;border-width:0 1px 1px 0;text-align:center;}
table.bList>thead>tr>th{padding:.5em .3em .32em;border-bottom:1px solid #34241e;color:#333;background:#e6e6e6;}
table.bList .new{border-radius:3px;padding:3px 3px 3px 3px;background:#e05652;color:#fff;font-size:11px;line-height:1;}
table.bList a:hover .new,
table.bList a:focus .new{background:#e00;}
table.bList .reply>i{color:#787878;font-size:11px;}
table.bList .reply>.t1{float:left;width:1px;height:1px;overflow:hidden;text-indent:-9999px;}

table.bList td.inTable{padding:0 !important;margin:0 !important;}
td.inTable table{width:100%;margin:0;padding:0;border:0;border-collapse:collapse;}
td.inTable table tr td{border:1px solid #bbb;border-width:1px 0 0 1px;padding:.3em .32em;}
td.inTable table tr td:first-child{border-left:none;}
td.inTable table tr:first-child td{border-top:none;}
/*
.inTable_cw1{width:300px;}
.inTable_cw1_1{width:50px;}
.inTable_cw1_1_etc{width:250px;}
.inTable_cw1_2{width:100px;}
.inTable_cw1_3{width:150px;}
.inTable_cw2{width:350px;}
.inTable_cw2_1{width:100px;}
.inTable_cw2_2{width:350px;}
.inTable_cw3{width:250px;}
tr.inTable_sum td{background:#f5e3e3;color:#bf1b1c;}
*/
.inTable_cw1{width:300px;}
.inTable_cw1_1{width:50px;}
.inTable_cw1_1_etc{width:250px;}
.inTable_cw1_2{width:100px;}
.inTable_cw1_3{width:150px;}
.inTable_cw2{width:350px;}
.inTable_cw2_1{width:100px;}
.inTable_cw2_2{width:350px;}
.inTable_cw3{width:250px;}
tr.inTable_sum td{background:#f5e3e3;color:#bf1b1c;}

/* 글쓰기 */
table.bWrite{width:100%;margin:10px 0;border:0;border-collapse:collapse;border-top:3px solid #34241e;border-bottom:1px solid #34241e;border-left:1px solid #bbb;}
table.bWrite>*>tr>th,
table.bWrite>*>tr>td{padding:.3em .32em;border:1px solid #bbb;border-width:1px 1px 0 0;text-align:left;background:#fff;}
table.bWrite>*>tr>th{/*background: #e6e6e6 url(../img/lib/th_bg1.png) 15px 50% no-repeat;padding-left:25px;*/background: #e6e6e6;text-align:center;color:#444;}
table.bWrite>*>tr>th.no_ic{background-image:none;text-align:center;padding:0 15px;}
table.bWrite select{min-width:120px;}

/* 글쓰기 */
table.bView{width:100%;margin:10px 0;border:0;border-collapse:collapse;border-top:3px solid #34241e;border-bottom:1px solid #34241e;}
table.bView>*>tr>th,
table.bView>*>tr>td{padding:11px .52em;border:0;border-bottom:1px solid #bbb;text-align:left;min-height:35px;}
table.bView>*>tr>th{background:url(../img/lib/th_bg1.png) 15px 50% no-repeat;padding-left:25px;color:#444;}

/* 표안의 표 */
table.inTable{width:100%;border-collapse:collapse;}
table.inTable>*>tr>th{background:#3c4554;color:#fff;font-weight:normal;}
table.inTable>*>tr>td,
table.inTable>*>tr>th{padding:2px 6px 2px 3px;border:1px solid #c5c5c5;text-align:center}

/* 기본 (통) */
.layout-B{width:100%;}
.layout-B:after{content:'';display:table;clear:both;}
.layout-B h2 {display:inline-block;font-size:14px;margin:4px 0px 0px 0px;padding:5px 0px 4px 25px;background:url(../img/lib/h3bg1.png) 0 50% no-repeat;color:#333333;font-weight:bold;}

/* 리스트 + 수정 */
.layout-LW{width:100%;}
.layout-LW:after{content:'';display:table;clear:both;}
.layout-LW .left{float:left;width:49%;}
.layout-LW .right{float:right;width:49%;}
.layout-LW .right .wrap{/*border:1px solid #c5c5c5;border-radius:3px;*/}
.layout-LW h2 {display:inline-block;font-size:14px;margin:4px 10px 0px 0px;padding:5px 25px 4px 25px;background:url(../img/lib/h3bg1.png) 0 50% no-repeat;color:#333333;font-weight:bold;}
.layout-LW table.bWrite>*>tr>th,
.layout-LW table.bWrite>*>tr>td{}

/* 페이징 */
.pagination{margin-top:20px;width:100%;text-align:center;}
.pagination a{display:inline-block;box-sizing:border-box;width:30px;height:30px;font-size:12px;line-height:30px;text-decoration:none !important;vertical-align:middle;border:1px solid #ccc;border-radius:20px;}
.pagination a:hover{background:#ac7e4d;border:transparent;color:#fff;font-size:.92em;}
.pagination .pages.on a{background:#ac7e4d;border:transparent;color:#fff;font-size:.92em;}
.pagination .control a .ic{font-family:Arial, sans-serif;font-size:23px;line-height:25px;}
.pagination a:not([href]){cursor:default;}
.pagination a.control:not([href]){opacity:.4;}

/* 버튼 위치 */
.btns{margin-top:10px;}
.btns:after{content:'';display:table;clear:both;}
.btns .left{float:left;width:50%;}
.btns .right{float:right;width:50%;text-align:right;}
.btns a[class*='button'], .btns button[class*='button']{height:28px;line-height:14px;}
.btns a[class*='button']{line-height:40px;}

td .btns{margin-top:0px;margin-bottom:5px;}
td .btns:after{content:'';display:table;clear:both;}
td .btns .left{float:left;width:50%;}
td .btns .right{float:right;width:50%;text-align:right;}
td .btns .tac{text-align:center;}
td .btns a[class*='button'], td .btns button[class*='button']{font-size:14px !important;height:28px;line-height:15px;}
td .btns a[class*='button']{line-height:30px;}


/* 첨부파일 */
.f_attach{position:relative;width:120px;font-size:12px;background:#dce5ec;border:1px solid #b1cbe0;color:#3c4554;font-weight:normal;border-radius:3px;height:28px;line-height:28px;text-align:center;margin-bottom:5px;}
.f_attach input[type="file"] {position:absolute; width:120px; bottom:0; left:0; z-index:1; filter:alpha(opacity=0); opacity:0; margin:0; padding:0; cursor:pointer;overflow: hidden;}
.f_attach i.file{display:inline-block;width:16px;height:16px;vertical-align: middle;margin:-3px 3px 0 0;background:url(../img/lib/b/ic_file.png) 0 0;}
.f_attach:hover{background:#d1dfea;}
.f_list:after{content:'';display:table;clear:both;}
.f_list li{border:1px solid #ced4da;border-radius:3px;padding:5px 10px;line-height:40px;margin-top:-1px;font-size:12px;}
.f_list li .f_btns{width:100px;float:right;text-align:right;}

/* 첨부파일 - 상단 */
.fw_attach{position:relative;width:100px;display:inline-block;box-sizing:border-box;background:#6c757d;border-radius:5px;color:#fff;padding:0 12px;height:calc(1.8125rem + 3px);line-height:32px;vertical-align:middle;text-align:center;}
.fw_attach input[type="file"] {position:absolute; width:100px; top:0; left:0; z-index:1; filter:alpha(opacity=0); opacity:0; margin:0;padding:0; cursor:pointer;overflow: hidden;}
.fw_attach i.file{display:inline-block;width:16px;height:16px;vertical-align: middle;margin:-3px 3px 0 0;background:url(../img/lib/w/ic_file.png) 0 0;}
.fw_attach:hover{background:#505961;}
.fw_txt{display:inline-block;margin-right:10px;}
.fw_txt .b_close{display:inline-block;width:21px;height:21px;background:url(../img/lib/ic_close.png) 0 0 no-repeat;vertical-align: middle;}
.fw_txt .b_close:hover{background-image:url(../img/lib/ic_close_on.png);}

/* 팝업창 & 레이어 팝업 */
.layerpopup{display:none;}
.layerpopup .bg{position:fixed;left:0;top:0;bottom:0;right:0;width:100%;height:100%;background:url(../img/layerpopup/bg_opacity_70.png);z-index:1000;}
.layerpopup .wrap1{position:fixed;left:50%;top:50%;margin-left:-250px;margin-top:-225px;width:500px;height:450px;background:#fff;z-index:1001;}
.layerpopup .popup_body{height:351px;overflow:auto;}

.popup1 h2{background:#38404d;color:#fff;padding:15px 20px;font-size:17px;}
.popup1 a.close{position:absolute;right:10px;top:10px;display:block;width:30px;height:30px;background:url(../img/layerpopup/ic_close.png);text-indent:-9999px;}
.popup1 .popup_body {padding:5px 10px;}
.popup1 h3{background:url(../img/layerpopup/h3bg1.png) 0 50% no-repeat;font-size:16px;color:#111;margin:0px 0 10px 0;padding:7px 5px 5px 35px;}
.popup1 .popup_btns{text-align:center;margin:25px 0 10px 0;}
.popup1 .popup_btns *{font-size:14px !important;}

/* 캘린더 */
.ui-datepicker select{height:25px;}
.ui-datepicker *{font-size:13px !important;}
input[class*='calendar']{background:#fff url(../img/lib/ic_calendar.png) 100% 50% no-repeat;width:125px !important;padding-right:32px;font-size:13px !important;cursor:pointer;}
input[class*='calendar']:hover,
input[class*='calendar']:focus{background-image:url(../img/lib/ic_calendar_on.png)}
.ui-datepicker select.ui-datepicker-month {width: 30%;}
.ui-datepicker select.ui-datepicker-year {width: 40%;}

/* 검색 */
.search_input{position:relative;width:200px;}
.search_input input[type="text"]{width:100%;padding-right:35px;}
.search_input button{position:absolute;right:0px;top:1px;width:33px;height:24px;background:url(../img/lib/ic_search1.png) 0 50% no-repeat;z-index:1;}
/* 표 레이아웃
.box-layout {border:1px solid #c5c5c5; border-radius:3px;margin-top:20px;background:#e9e9e9;}
.box-layout:first-child{margin-top:0;}
*/

/* 트리용 */
.br_tree{border:1px solid #bbb;border-radius:5px; padding: 10px 15px;margin-top:10px;margin-bottom:20px;}

/*.k-i-expand:before,.k-i-collapse:before{content:'';}*/
/*.k-i-expand{width:15px;height:15px;background:url(../img/lib/ic_tree_off.png) 0 0 no-repeat;border:1px solid #b9babc;}*/
/*.k-i-collapse{width:15px;height:15px;background:url(../img/lib/ic_tree_on.png) 0 0 no-repeat;border:1px solid #b9babc;}*/


/* table 외각에 position relative 주기 */
.prt{position:relative;}
.prt table.bWrite > * > tr > th,
.prt table.bWrite > * > tr > td{height:52px !important;}

/* 윈도우창 개발자 요구 (2019.01.09) */
.popup_container{height:100vh;overflow:auto;padding:20px;}


/* 게시판 상세보기 추가(2019.01.18) */
.bbs_cotent_view{position:relative;border:1px solid #bbbbbb;box-sizing:border-box;padding:20px;margin-top:-10px;}
.bbs_cotent_view:after{content:'';display:block;clear:both;}


