BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-family:돋움,verdana; font-size:9pt; color:#666666; line-height:140%;}

<!--
body {
	scrollbar-3dlight-color:B4B4B4;
	scrollbar-arrow-color:333333;
	scrollbar-base-color:EEEEEE;
	scrollbar-darkshadow-color:FFFFFF;
	scrollbar-face-color:eeeeee;
	scrollbar-highlight-color:FFFFFF;
	scrollbar-shadow-color:B4B4B4;} 
-->

/* 링크속성 설정 */
a:link    		{color:#666666; text-decoration:none;}
a:visited 		{color:#333333; text-decoration:none;}
a:active  		{color:#1A9EC4; text-decoration:none;}
a:hover  		{color:#1A9EC4; text-decoration:none;}

a:link2    		{color:#FFFFFF; font-weight:bold; text-decoration:none;}
a:visited2 		{color:#FFFFFF; font-weight:bold; text-decoration:none;}
a:active2 		{color:#FFFFFF; font-weight:bold; text-decoration:none;}
a:hover2 		{color:#FFFFFF; font-weight:bold; text-decoration:none;}


/* 모든 이미지 두께 0 으로 설정 */
img { border: none; }


/* 서브메뉴 레이어 속성 */
#sub01 { position:absolute;	left:256px;	top:82px; width:260px;	height:20px; z-index:1;	visibility: hidden; }
#sub02 { position:absolute;	left:364px;	top:82px; width:80px;	height:20px; z-index:1;	visibility: hidden; }
#sub03 { position:absolute;	left:430px;	top:82px; width:180px;	height:20px; z-index:1;	visibility: hidden; }
#sub04 { position:absolute;	left:450px;	top:82px; width:350px;	height:20px; z-index:1;	visibility: hidden; }


/* Body Margin */
body {	margin-left: 5px; margin-top: 0px; margin-right: 5px; margin-bottom: 0px; }


/* 테이블 여백 */
.top    { padding: 5px 0px 0px 0px; }
.right  { padding: 0px 5px 0px 0px; }
.bottom { padding: 0px 0px 5px 0px; }
.left   { padding: 0px 0px 0px 5px; }
.all    { padding: 5px 5px 5px 5px; }


/* 텍스트 속성 */
.table_title { text-align:center; }
.table_blue  { color:#2874ae; text-align:center; }
.table_white { color:#FFFFFF; font-weight:bold; text-align:center; }
.table_black { color:#000000; }
.table_red   { color:#e4003b; }

.over { background-color:#f1f1f1; height:1;}

