
.alter{ display:block}
.break { display:inline}
.creak { display:inline}
.dreak { display:block}

/*skipnavi*/
#skipnavi {position:absolute;top:0;left:0;width:100%;z-index:99999;font-size:0;line-height:0;}
#skipnavi h2{display:block;position:absolute;top:-500px;text-indent:-9999px;color:#333;padding-top:1px;font-size:12px;font-weight:bold;line-height:130%;}
#skipnavi a {display:block;position:absolute;top:-500px;text-indent:-9999px;color:#333;padding-top:1px;font-size:12px;font-weight:bold;line-height:130%;}
#skipnavi a:hover, #skipnavi a:active, #skipnavi a:visited, #skipnavi a:focus {position:absolute;top:0;left:0;width:200px;height:34px;line-height:32px;background-color:#fff;border:2px solid #004aac;text-indent:0;text-align:center;}

/*�⺻ ��Ÿ��*/
.cr {clear:both;}
.dbl {display:block;}
.s_tBoxftercr:after {clear:both;content:"";display:block;}

.c_line {display:block;width:100%;height:1px;background:#e5e5e5;margin:50px 0}

/*�ڽ�����*/
.isbox {display:block;position:relative;}

.gr_box {position:relative;display:block;background:#f7f7f7;padding:30px;border:1px solid #e2e2e2;clear:both}

.wh_box {position:relative;display:block;padding:40px 0;clear:both;overflow:hidden;}
.wh_boxp30 {position:relative;display:block;padding:30px;clear:both;overflow:hidden;}

.s_box {position:relative;display:block;overflow:hidden;}
.s_box50line {position:relative;width:428px;overflow:hidden;padding:30px;border:1px solid #e2e2e2;}
.s_box50 {position:relative;width:485px;overflow:hidden;}
.s_box50.left, .s_box50line.left {float:left;}
.s_box50.right, .s_box50line.right {float:right;}

.s_box30 {position:relative;width:281px;overflow:hidden;padding:20px;border:1px solid #e2e2e2;float:left;}
.s_box30.cntr {margin:0 15px}

.isabs {position:absolute;}
.in_bl {display:inline-block;}

.topline {border-top:1px solid #ededed}
.undrline {border-bottom:1px solid #ededed}

.no_hide {overflow:visible !important}

.bodr_gr {border:1px solid #e2e2e2;}


/* �����ڸ�*/
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.wordKeep, .wordkeep, .wkeep {white-space:normal;word-break:keep-all;}
.nowrap {white-space:nowrap;}

/*����*/
.hidden {display:none;}
.blind {width:1px;height:1px;overflow:hidden;position:absolute;top:-9999em;left:-9999em;display:block;text-indent:-9999em;font-size:0px;line-height:0;}

/*���� */
.gap10 {height:10px;clear:both;overflow:hidden;display:block;}
.gap20 {height:20px;clear:both;overflow:hidden;display:block;}
.gap30 {height:30px;clear:both;overflow:hidden;display:block;}
.gap40 {height:40px;clear:both;overflow:hidden;display:block;}
.gap50 {height:50px;clear:both;overflow:hidden;display:block;}
.gap60 {height:60px;clear:both;overflow:hidden;display:block;}
.gap65 {height:65px;clear:both;overflow:hidden;display:block;}
.gap70 {height:70px;clear:both;overflow:hidden;display:block;}
.gap75 {height:75px;clear:both;overflow:hidden;display:block;}
.gap80 {height:80px;clear:both;overflow:hidden;display:block;}
.gap85 {height:85px;clear:both;overflow:hidden;display:block;}
.gap90 {height:90px;clear:both;overflow:hidden;display:block;}
.gap95 {height:95px;clear:both;overflow:hidden;display:block;}
.gap100 {height:100px;clear:both;overflow:hidden;display:block;}
.gap130 {height:130px;clear:both;overflow:hidden;display:block;}
.gap200{height:200px;clear:both;overflow:hidden;display:block;}
.gap260{height:260px;clear:both;overflow:hidden;display:block;}

.gap {height:40px;clear:both;display:block;}
.sgap {height:25px;clear:both;display:block;}
.ssgap {height:15px;clear:both;display:block;}

/*list*/


/*img-preview*/


/* table scroll */


/*table*/
.tblLeft th, .tblLeft td {text-align:left}
.tblRight th, .tblRight td {text-align:right}

.tbl_st01 {width:100%;clear:both; border-collapse:collapse; table-layout:fixed; word-wrap:break-word; border-spacing:0; border-top:3px solid #d5363a;}
.tbl_st01 thead th {background:#ffebea; font-weight:600; color:#333; padding:13px 10px; word-wrap:break-word; border-bottom:1px solid #ddd}
.tbl_st01 tbody th {background:#fbfbfb; font-weight:600; padding:13px 10px; word-wrap:break-word; border-right:1px solid #ddd; border-bottom:1px solid #ddd}
.tbl_st01 tbody td {text-align:center;padding:10px 8px;font-size:13px; color:#555; word-wrap:break-word; border-right:1px solid #ddd; border-bottom:1px solid #ddd}
.tbl_st01 tbody td.left {text-align:left;padding:13px 10px}
.tbl_st01 thead th:last-child, .tbl_st01 tbody td:last-child{ border-right:none;}
.tbl_st01 thead th.lineR, .tbl_st01 tbody th.lineR, .tbl_st01 tbody td.lineR {border-right:none;}
.tbl_st01 thead th.line, .tbl_st01 tbody th.line, .tbl_st01 tbody td.line {border-right:1px solid #ddd;}

.tbl_st01 th.smTxt {font-size:13px; background:#fff; padding:7px 10px; color:#555;}
.tbl_st01 .bbt-none {border-bottom:none;}


.tbl_st02 {width:100%;}
.tbl_st02 thead th {border-right:1px solid #ddd; background:#bbb; text-align:center; font-weight:600;padding:8px;font-size:13px; }
.tbl_st02 td {border-right:1px solid #ddd; text-align:center; font-weight:normal; color:#666; line-height:22px; vertical-align:middle; padding:10px; font-size:13px; border-bottom:1px solid #dfdfdf;}
.tbl_st02 td.r_none {border-right:none;}


/*input type*/
input[type="text"].txtbox-st01, 
input[type="password"].txtbox-st01, 
input[type="file"].txtbox-st01 {width:100%; height:25px; border:1px solid #ddd;}

.txtarea-st01 {width:100%; height:180px; border:1px solid #ddd;}


/*radio checkbox*/
.R-Cb-st01 {display:none}
.R-Cb-deco01 {display:inline-block; width:15px; height:15px; margin-right:5px; vertical-align:middle; background:url(/img/board/radio-deco.png)no-repeat;}
.R-Cb-st01:checked + .R-Cb-deco01 {background:url(/img/board/radio-deco.png) no-repeat -16px top;}


/*select*/
.select-st01 {background: url(/img/board/select-arrow.png) no-repeat right 13px top 13px #fff;border:1px solid #cccccc;border-radius:3px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.select-st01::-ms-expand {display:none;}


/*--------------------------------------------------�Խ��� �� ���α׷� css-------------------------------------------------------------*/

/*��������*/
.rsc-date {display:block;font-size:13px; font-weight:normal; color:#666;}
.rsc-tit {overflow:hidden; margin-bottom:3px; text-align:left; font-weight:bold; color:#333;}
.rsc-help {text-align:left;margin-bottom:10px; color:#888;}
label.rsc-ans {margin-right:5px;}

	@media screen and (max-width:350px){
		#research-Lst-container .Tbreak {display:block;}
		#research-Lst-container td.date {line-height:12px}
	}

/*����Ʈ*/
.search {width:96%; padding:0 2%; height:50px; background:#ddd;}
.search .width-wrap {padding-left:105px; padding-right:90px; position:relative;}
.search select {width:100px; height:35px; padding:0 5px 0 5px; position:absolute; top:6px; left:0; height:33px;}
.search .search-text {width:100%; height:33px; border:1px solid #cccccc; border-radius:3px; padding:0 10px; margin-top:7px;}
.search .search-bnt {position:absolute; top:8px; right:0; padding:7px 10px 7px 25px; border-radius:3px;	background:url(/img/board/search-bnt.png) no-repeat 10px center #363636; color:#fff; }

.lst-num {overflow:hidden; padding:0 2%; height:50px; line-height:50px;}
.lst-num .num-icon {float:left; width:28px; height:28px; margin-top:12px; border-radius:50%; background:url(/img/board/num-icon.png) no-repeat center center #363636;}
.lst-num .num-box {float:left; color:#666; padding-left:5px; }
.lst-num .num-box span.num {font-weight:bold; color:#333;}


.board-wrap {padding:0 2%;}

.boardLst {width:100%; clear:both; border-collapse:collapse; table-layout:fixed; word-wrap:break-word; border-spacing:0; border-top:2px solid #d5363a;}
.boardLst thead th {background:#ffebea; font-weight:600; color:#333; padding:20px 15px; word-wrap:break-word; border-bottom:1px solid #ddd}
.boardLst tbody th {background:#fbfbfb; font-weight:600; padding:13px 10px; word-wrap:break-word; border-bottom:1px solid #ddd}
.boardLst tbody td {text-align:center; padding:13px 15px; font-size:13px; color:#555; word-wrap:break-word; border-bottom:1px solid #ddd}
.boardLst tbody td.left {text-align:left;padding:13px 15px}
.boardLst tbody td .tit-box {display:inline-block; width:auto;  }
.boardLst tbody td .cont-tit {padding-right:8px; overflow:hidden; font-weight:500; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* ���μ� */ -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.2em; max-height:2.4em; }

/*�� ȭ�� ������
.boardLst thead th:first-child,
.boardLst tbody th:first-child {padding-left:4%;}
.boardLst thead th:last-child,
.boardLst tbody th:last-child {padding-right:4%;}

.boardLst tbody td:first-child {padding-left:4%;}
.boardLst tbody td:last-child {padding-right:4%;}*/


/*.ntc-topline {border-top:2px solid #d5363a;}
.boardLst-notice tbody th:after {content:""; position:absolute; left:-50%; bottom:0; width:150%; height:1px; background:#ddd; }
.boardLst-notice tbody td:after {content:""; position:absolute; right:-50%; bottom:0; width:150%; height:1px; background:#ddd; }*/



.boardLst-notice {width:100%; clear:both; word-wrap:break-word; border-top:2px solid #d5363a;}
.boardLst-notice tbody th {text-align:center; padding:20px 0px; font-weight:600; word-wrap:break-word; border-bottom:1px solid #ddd;/*position:relative*/}

.boardLst-notice tbody td {padding:13px 0px; font-size:13px; color:#555; word-wrap:break-word;  border-bottom:1px solid #ddd;/*position:relative*/}

.boardLst-notice tbody td .tit-box {display:inline-block; width:auto;  }
.boardLst-notice tbody td .cont-tit {padding-right:8px; overflow:hidden; font-weight:500; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; /* ���μ� */ -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.2em; max-height:2.4em; }
.boardLst-notice tbody td .date {display:block; font-size:13px; color:#888;}

.BLst-badge {width:50px; padding:3px 5px; border-radius:3px; color:#fff; margin:0 auto;}
.BLst-badge.badge01 {background:#363636;}
.BLst-badge.badge02 {background:#d5363a;}
.BLst-badge.badge03 {background:#73a055;}
.BLst-badge.badge04 {background:#346ba1;}

.boardLst tbody td .icon, .boardLst-notice tbody td .icon {display:inline-block; vertical-align:top;}
.boardLst tbody td span.new, .boardLst-notice tbody td span.new { display: inline-block; width:17px; height:17px; border-radius:50%; background:url(/img/board/new-icon.png)no-repeat;	color:#fff;font-size:10px; text-align:center; vertical-align:baseline; }
.boardLst tbody td span.file, .boardLst-notice tbody td span.file {display: inline-block; width:14px; height:14px; background:url(/img/board/file.png)no-repeat; background-size:cover; vertical-align:baseline; margin-left:5px;}


/*��*/
.board-Viw {width:100%;clear:both; border-collapse:collapse; table-layout:fixed; word-wrap:break-word; border-spacing:0; border-top:2px solid #d5363a;}
.board-Viw thead th {background:#ffebea; font-weight:600; color:#333; padding:20px 15px; word-wrap:break-word; border-bottom:1px solid #ddd;}
.board-Viw thead th .btxt {font-size: 18px; font-weight:bold;}
.board-Viw thead th > span {margin-right:20px;}
.board-Viw tbody td {padding:13px 15px;font-size:13px; color:#555; word-wrap:break-word; border-bottom:1px solid #ddd}
.board-Viw tbody td.left {text-align:left;padding:13px 15px}
.board-Viw thead th:last-child, .tbl_st01 tbody td:last-child{ border-right:none;}
.board-Viw thead th.lineR, .tbl_st01 tbody th.lineR, .tbl_st01 tbody td.lineR {border-right:none;}
.board-Viw thead th.line, .tbl_st01 tbody th.line, .tbl_st01 tbody td.line {border-right:1px solid #ddd;}
.board-Viw .file-set a img{margin:0 5px; vertical-align:top}
.board-Viw #view-cont {padding:20px 0px;}
.board-Viw .prev div, .board-Viw .next div {padding-left:80px; position:relative;}
.board-Viw .prev span.icon {position:absolute; top:center; left:0; display:inline-block; width:80px; height:18px; background:url(/img/board/list-prev.png)no-repeat 45px center; }
.board-Viw .next span.icon {position:absolute; top:center; left:0; display:inline-block; width:80px; height:18px; background:url(/img/board/list-next.png)no-repeat 45px center; }
.board-Viw .prev a.tit {display:block; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}
.board-Viw .next a.tit {display:block; width:100%; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}

/*�۾���*/
.boardWri .write_01 {width:100%; border-right:1px solid #dfdfdf; border-top:2px solid #d7363c}
.boardWri .write_01 th {text-align:left;border-bottom:1px solid #ddd;background:#ccc;padding:15px 10px;}
.boardWri .write_01 th .necessary {color:#d7363c;}
.boardWri .write_01 td {text-align:left;border-bottom:1px solid #ddd;background:#fff;padding:10px 30px 10px 15px;}
.boardWri .write_01 td span.Tnotice-wrap {display:block;}
.boardWri .write_01 td a.fileAdd {display:block;}


/* �н����� */


/* ����¡ */
.paging-wrap {text-align:center;}
.paging-wrap li {display:inline-block; width:30px;height:30px;font-size:16px;vertical-align:middle;line-height:30px;}
.paging-wrap li a.BdBg {display:block;width:100%;height:100%;border:1px solid #e1e1e1;}
.paging-wrap li a.first {background:url(/img/board/first-bnt.png)no-repeat center center #fff; font-size:0; margin-right:0;}
.paging-wrap li a.prev {background:url(/img/board/prev-bnt.png)no-repeat center center #fff; font-size:0;}
.paging-wrap li a.next {background:url(/img/board/next-bnt.png)no-repeat center center #fff; font-size:0;	margin-right:0;}
.paging-wrap li a.last {background:url(/img/board/last-bnt.png)no-repeat center center#fff; font-size:0;}
.paging-wrap li a.active {color:#d7363c;font-weight:bold;text-decoration:underline;}


/*��ư ��Ÿ��*/
.btnLeft {display:block;text-align:left;overflow:hidden;}
.btnCntr {display:block;text-align:center;overflow:hidden;}
.btnRight {display:block;text-align:right;overflow:hidden;}

.board-btnLeft {display:block;text-align:left;overflow:hidden; padding-left:2%;}
.board-btnRight {display:block;text-align:right;overflow:hidden; padding-right:2%;}

.btn-st1 {display:inline-block; padding:8px 27px; color:#fff; border-radius:3px; text-align:center;}

	/*������ ��ư*/
.bt-bakLst {display:inline-block; padding:8px 27px 8px 43px; color:#fff; border-radius:3px; text-align:center; background:url(/img/board/list-dedo.png) no-repeat 21px center #d7363c;}
.bt-bakLst-g {display:inline-block; padding:8px 27px 8px 43px; color:#fff; border-radius:3px; text-align:center; background:url(/img/board/list-dedo.png) no-repeat 21px center #666;}
.btn-down {display:inline-block; padding:8px 27px 8px 43px; color:#fff; border-radius:3px; text-align:center; background:url(/img/board/download-icon.png) no-repeat 21px center #666;}

.bt-red {background:#d7363c}
.bt-gray {background:#666;}


/*update&error*/






