
<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="DENSO DICAS" />
<meta name="keywords" content="DENSO DICAS" />
<meta name="description" content="DENSO DICAS" />
<title>DENSO DICAS</title>
<!-- Css -->
<link rel="stylesheet" type="text/css" href="../../asset/css/define/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="../../asset/css/font.css" />
<link rel="stylesheet" type="text/css" href="../../asset/css/lib.css" />
<link rel="stylesheet" type="text/css" href="../../asset/css/login.css" />
<!-- Javascript -->
<script type="text/javascript" src="../../asset/js/define/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../../asset/js/define/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../asset/js/define/jquery-ui.js"></script>
<script type="text/javascript" src="../../asset/js/lib_fnc.js"></script>
<script type="text/javascript" src="../../asset/js/lib.js"></script>
</head>
<body>
<div class="bg"></div>

<!-- #login -->
<div id="login">
    <h1>DNESO DICAS</h1>    

    <!-- #wrap -->
    <div class="wrap">
        <!-- 작성 폼 -->
        <form action="?">
        <!-- fieldset -->
        <fieldset>
        <input id="username" class="ic_user" name="username" type="text" title="아이디 입력" placeholder="아이디" autocomplete="off" />
        <input id="password" class="ic_pwd" name="password" type="password" title="비밀번호 입력" placeholder="비밀번호" autocomplete="off" />
        </fieldset>
        <!-- //fieldset -->
        <button type="submit" value="submit">로그인하기</button>
        </form>
        <!-- //작성 폼 --> 
    </div>
    <!--/#wrap-->

        <!-- address -->
        <address>COPYRIGHT Ⓒ 2018 DENSO CORPORATION.<br />ALL RIGHTS RESERVED.</address>
        <!-- //address -->    
</div>   
<!--/#login-->

</body>
</html>