/*layout */
#wrap{overflow:hidden;height:100%;}

#container-wrap{width:100%;height:auto;}
#sub #container-wrap{margin-top:100px;}
#contents-wrap {position:relative; width:100%;}
#contents {padding:20px 2%;}


/*header*/
#header{ position:relative; width:100%;height:50px; background:#22232a; margin:0 auto;z-index:10;}
#header #logo {display:block; position:absolute; z-index:20; top:15px; left:2%; width:85px; height:17px;}
#header #logo a { display:block; width:100%; height:100%; text-indent:-9999px; background:url(/img/main/logo.png) no-repeat;}

#header .bt-mnall {position:absolute; z-index:20; top:15px; right:2%; width:25px; height:19px; background:url(/img/main/mainNavi-bnt.png) no-repeat;}


/*topmenu*/
#mainNavi {width:200px; height:100%; padding-left:100px; overflow:hidden; position:fixed; z-index:500; top:0; right:-300px; color:#fff;}
#mainNavi .mn-tit {width:200px; height:50px; background:#d5363a; color:#fff; }
#mainNavi .bt-mnclose {position:absolute; z-index:700; left:0px; top:0; width:100px; height:100px; background:url(/img/main/mn-close-icon.png) no-repeat center center #9c2024; cursor:pointer}
#mainNavi .mn-tit .user-name {background:url(/img/main/mntit-icon01.png)no-repeat left center; padding-top:5px; padding-left:35px; font-weight:100}
#mainNavi .mn-tit .user-name .name {display:block;}
#mainNavi .mn-tit .user-name .name strong {font-weight:900;}
#mainNavi .mn-tit .logout {padding-top:12px;}

#mainNavi:after {background:#22232a; position:absolute; left:100px; top:0; width:200px; height:100%; z-index:-1; display:block; content: "";}

#mainNavi .depth1 {position:absolute; top:50px; bottom:0; width:200px; overflow-y:auto; overflow-x:hidden;}
#mainNavi .depth1 > li { border-bottom:1px solid #52535a; background:#34353a}
#mainNavi .depth1> li > a {padding:15px 20px; color:#fff; padding-right:40px; height:100%; display:block; background:url(/img/main/mn-depth1-off.png) no-repeat right 20px center ;}
#mainNavi .depth1> li > a.on {font-weight:bold; background:url(/img/main/mn-depth1-on.png) no-repeat right 20px center #34353a;}

.body-slider-ovclick {position:fixed; z-index:600; width:100%; height:100%; top:0; left:-200px; background:rgba(0, 0, 0, 0.25); cursor: pointer; display:none;}



#mainNavi .depth2 {background:#efefef; display:none;}
#mainNavi .depth2 > li > a {display:block; padding:15px 20px;  background:url(/img/main/mn-depth2.png) no-repeat right 20px center;}
#mainNavi .depth2 > li > a.on {font-weight:bold; background:url(/img/main/mn-depth2-on.png) no-repeat right 20px center;}

#mainNavi .depth3 {background:#fff; display:none;}
#mainNavi .depth3 {padding:10px 0;}
#mainNavi .depth3 > li > a {display:block; padding:5px 20px 5px 35px; background:url(/img/main/mn-depth2-bull.jpg)no-repeat 22px center; color:#333;}








/*sub*/
.sub_Toptit {width:100%; height:50px; text-align:center; font-size:18px; font-weight:bold; line-height:50px;}

.subCont_wrap {padding:0 2%;}






