#login-container {position:absolute; top:0; right:0; bottom:0; left:0; background:url(/img/login/login-bg.jpg)no-repeat center center; background-size:cover;}

.login-cont-wrap  {width:90%;margin:auto auto; padding:10% 5% 0 5%; position:relative; z-index:1;text-align:center;}

#login-container .title {font-size:28px; color:#fff;}

.login-guide {position:relative;}

.login-guide .login-gui-bnt {color:#fff; background:#dc2217; border-radius:3px; padding:5px 15px;}
.login-gui-cont {display:none; width:100%; min-height: 155px; background:#fff; position:absolute; top:45px; left:0; border-radius:3px;}
.login-gui-cont .wrap {padding:15px 18px}
.login-guide .tit{border-bottom:3px solid #dc2217; overflow:hidden; margin-bottom:17px; font-size:16px;}
.login-guide .tit span {font-weight:bold;}
.login-guide .tit a.close {display:inline-block; width:25px; height:25px; background-size:100%; background:url(/img/login/login-guide-close.png) no-repeat center center;}
.login-guide ul li {margin-bottom:5px; padding-left:25px;}
.login-guide ul li span.num {display:inline-block; background:#dc2217; width:19px; height:19px; margin-left:-25px; border-radius:50%; color:#fff; text-align:center; line-height:19px; margin-right:5px;}

.login-wr {width:100%;}
.login-wr .border {width:100%; height:40px; margin-bottom:16px; line-height:40px; border-radius:5px; box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3); background:url(/img/login/id-icon.png)no-repeat 15px 17px #fff; overflow:hidden;}
.login-wr .wrap {padding-left:40px; padding-right:10px;}
.login-wr .id, .login-wr .pw {width:100%; padding:0; border:none; background:none;}
.login-bnt {float:right; width:100%; height:40px; background:#dc2217; border-radius:3px; color:#fff; font-size:17px; box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3)}



.login-wr .id:focus::-webkit-input-placeholder {opacity: 0;}  /* chrome */
.login-wr .id:focus::-moz-placeholder {opacity: 0;}           /* firefox */ 
.login-wr .pw:focus::-webkit-input-placeholder {color: transparent;}  /* chrome */
.login-wr .pw:focus::-moz-placeholder {color: transparent;}           /* firefox */ 


.login-radio {clear:both; text-align:left; overflow:hidden;}
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {color:#fff;}
input[type="checkbox"] + label span {display:inline-block; width:30px; height:27px; background:url(/img/login/radio-bnt.png) left top no-repeat; vertical-align: middle;}
input[type="checkbox"]:checked + label span {background:url(/img/login/radio-bnt_R.png) left top no-repeat; vertical-align: middle;}
input[type="radio"] {display:none;}
input[type="radio"] + label {color:#fff;}
input[type="radio"] + label.type1 {margin-right:15px;}
input[type="radio"] + label span {display:inline-block; width:30px; height:27px; background:url(/img/login/radio-bnt.png) left top no-repeat; vertical-align: middle;}
input[type="radio"]:checked + label span {background:url(/img/login/radio-bnt_R.png) left top no-repeat;}

#login-container .bottom-line {width:100%; height:1px; background:rgba(255, 255, 255, 0.3);}

.login-text {text-align:center; color:#fff;}
.login-text {margin-bottom:10px;}
.login-text span {display:inline-block;width:auto; text-align: center; border:2px solid #fff; color:#fff; border-radius:50px; padding:10px 10%; margin-top:10px;}

.lText-pop {width:580px;  background:#fff; color:#333; position:absolute; top: 50%;  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9); display:none;}
.lText-pop p.tit {font-size:16px; font-weight:bold; color:#fff; background: #dc2217; padding-bottom:10px; padding:7px 10px; position:relative;}
.lText-pop p.tit .close {position:absolute; top:6px; right:12px; color:#fff;}
.lText-pop p.stxt {padding:20px 15px;}


/* dev-j */
 /* .login-text .right a {
 	width: auto;
 } */
 
.login-bg{
 	position:absolute; 
 	top:0; 
 	bottom:0; 
 	left:0; 
 	right:0;
 	background: black;
 }
 
.login-bg div{
 position:absolute; 
 	top:0; 
 	bottom:0; 
 	left:0; 
 	right:0;
 	width: 100%;
 	height: 100%;
}

.login-bg img {
	width: 100%;
	height: 100%;
}
 
 .login-wr .border:nth-child(2) {
  	background:url(/img/login/pw-icon.png)no-repeat 15px 13px #fff;
 }
 
.loginFail {display:none; width:100%; min-height: 25px; background:#fff; position:absolute; top:150px; left:0; border-radius:3px;}
.loginFail .wrap {
    padding: 15px 18px;
} 
.loginFail .tit{border-bottom:3px solid #dc2217; overflow:hidden; margin-bottom:0px; font-size:16px;}
.loginFail .tit span {font-weight:bold;}
.loginFail .tit a.close {display:inline-block; width:25px; height:25px; background-size:100%; background:url(/img/login/login-guide-close.png) no-repeat center center;}