<?xml version="1.0" encoding="euc-kr"?>
<Datasets>
	<Dataset DataSetType="Dataset" Id="ds_BSME158R">
		<Contents>
			<colinfo id="CONNO" size="256" summ="default" type="STRING"/>
			<colinfo id="VNAME" size="256" summ="default" type="STRING"/>
			<colinfo id="SPRTN" size="256" summ="default" type="STRING"/>
			<colinfo id="ITDSC" size="256" summ="default" type="STRING"/>
			<colinfo id="UNMSR" size="256" summ="default" type="STRING"/>
			<colinfo id="ITTYP" size="256" summ="default" type="STRING"/>
			<colinfo id="ITCLS" size="256" summ="default" type="STRING"/>
			<colinfo id="HOUSE" size="256" summ="default" type="STRING"/>
		</Contents>
	</Dataset>
</Datasets>