@charset "utf-8";

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display:block;}
audio, canvas, progress, video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden], template{display:none;}
a{background-color:transparent;}

html{font-size:62.5%;overflow-y:scroll;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
*+html{overflow-x:hidden;}
body{margin:0;background:#fff;font-size:13px;line-height:1.666;font-weight:400;overflow:hidden;color:#666;
	font-family:'Open Sans',Helvetica,
	'Apple SD Gothic Neo','Microsoft JhengHei',
	'NotoSansKR', '맑은 고딕','Malgun Gothic','돋움',Dotum,
	Arial,sans-serif;
}

input,select,button,textarea,pre,code,kbd,samp{font-family:inherit;} 
i,em,cite,dfn,var,address{font-style:normal;}
label,button,input,select,textarea{color:#555;}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='image']{overflow:visible;cursor:pointer;}
img,form,fieldset,iframe,object,embed,video,audio{border:0;vertical-align:top;}
img{max-width:100%;height:auto;}
table,pre{font-size:1em;}
table{border-collapse:collapse;border-spacing:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
pre{white-space:pre-wrap;word-wrap:break-word;}
/*h1,h2,h3,h4,h5,h6,p,ul,ol,dl,menu,blockquote,fieldset,form,pre{margin-top:1em;margin-bottom:1em;}*/
h1,h2,h3,h4,h5,h6{margin-bottom:.666em;font-weight:600;line-height:1.333;}
a{text-decoration:none;}
a[href]{color:#666;cursor:pointer;}
[href]:hover,[href]:active,[href]:focus{text-decoration:none;}
a[href^='tel']{text-decoration:none !important;cursor:default;}
strong,b{font-weight:bold;}
small,sub,sup{font-size:.8em}
abbr{cursor:help}
em{color:#d00;}
ol{list-style:decimal-leading-zero;}
hr{	-moz-box-sizing:content-box;box-sizing:content-box;height:0;margin:2em 0;border-width:0;border-bottom:1px solid #ddd;}


/* 제목 정의 */
h1{font-size:2em;} 
h2{font-size:1.2em;line-height:1.333;font-weight:300;color:#333;}
h3{font-size:1.5em;}
h4{font-size:1.25em;}
h5{font-size:1.125em;}
h6{font-size:1em;} 


/* 디자인 초기화 (윈도우 기본 사용 하지 않기) */
.init{font-size:1em;line-height:1.333;}
.init,
.init *{list-style:none;max-width:none;margin:0;padding:0;}

/* float 관련 초기화 */
.brclear{display:block;clear:both;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}

.clearfix{min-height:0;}
	.clearfix:before,
	.clearfix:after{content:'';display:table;}
	.clearfix:after{clear:both;}

/* 화면에 보이지 않게 */
.blind{position:absolute !important;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
	*+html .blind{height:0;}

/* display 설정 */
.dpn{display:none !important;}
.dpb{display:block !important;}
.dpi{display:inline !important;}
.dpib{display:inline-block !important;}
.dpt{display:table !important;}
.dptc{display:table-cell !important;}	

/* 자간 간격 설정 */
.ls-1{letter-spacing:-1px !important;}
.ls-2{letter-spacing:-2px !important;}
.ls-3{letter-spacing:-3px !important;}
.ls0{letter-spacing:0 !important;}

/* 텍스트 밑줄 설정 */
.tdu{text-decoration:underline !important;}
.tdlt{text-decoration:line-through !important;}
.tdn{text-decoration:none !important;}

/* 가로 크기 */
.w10{width:10%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w40{width:40%;}
.w50{width:50%;}
.w100{width:100%;}

/* 정렬 */
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}
.taj{text-align:justify !important;} 

/* 마진 */
.ml0{margin-left:0 !important;}
.mt10{margin-top:10 !important;}
.mt20{margin-top:20 !important;}

/* form 요소 */
fieldset{padding:0;margin:0;border:0;}
input,textarea,select,button{vertical-align:middle;margin:1px 1px;}
input[type='text'],input[type='tel'],input[type='password'],input[type='file'],textarea,select{font-size:12px;color:#707070;box-sizing:border-box;height:calc(23px + 2px);border:1px solid #c5c5c5;border-radius:3px;padding-left:5px;padding-right:5px;}
input:disabled{background:#d6d8db;border:1px solid #ced4da;box-shadow:none;color:#777;}

input[type='file']{padding-left:0;padding-right:0;}
input[type='radio'],
input[type='checkbox']{margin-right:5px;}
textarea{width:100%;min-height:100px;}
select{padding-left:5px;padding-right:0px;min-width:80px;}

select:disabled{background:#d6d8db;border:1px solid #ced4da;color:#777;}
textarea:disabled{background:#d6d8db;border:1px solid #ced4da;color:#777;}
/*
.ui-datepicker select{height:25px;}
.ui-datepicker *{font-size:13px !important;}
*/
input[class*='calendar']{background:url(../images/template/ic_calendar.png) 100% 50% no-repeat;width:125px !important;padding-right:32px;font-size:13px !important;cursor:pointer;}
input[class*='calendar']:hover,
input[class*='calendar']:focus{background-image:url(../images/template/ic_calendar_on.png)}
input[class*='calendar']:disabled{background-color:#d6d8db;border:1px solid #ced4da;box-shadow:none;color:#777;}
/*
.ui-datepicker select.ui-datepicker-month {width: 30%;}
.ui-datepicker select.ui-datepicker-year {width: 40%;}
*/

/* 검색 */
.search_input{position:relative;width:200px;}
.search_input input[type="text"]{width:100%;padding-right:35px;}
.search_input button{position:absolute;right:0px;top:1px;width:33px;height:24px;background:url(../img/lib/ic_search1.png) 0 50% no-repeat;z-index:1;}

/* ul */
ul.bu{list-style:none;padding:0;margin:0;}
ul.bu li{padding-left:12px;background:url(../images/layout/li1bg.png) 4px 10px no-repeat;color:#787878;}

/* 버튼 */
a[class*='button'],button[class*='button']{position:relative;display:inline-block;box-sizing:border-box;border:none;background:#777777;color:#fff;padding:.5em 1.8em;vertical-align:middle;border-radius:5px;}
button[type='submit']{background:#d41919;}

a.button_more,button.button_more{position:relative;display:inline-block;box-sizing:border-box;border:none;background:#fff url(../images/template/ic-restart2.gif) 35px 6px no-repeat;background-size:21px;border:1px solid #777;padding:7px 40px 7px 58px;vertical-align:middle;border-radius:5px;color:#333;}

.btns{position:relative;margin:10px 0;text-align:center;}
.btns_small{}
.btns_small a[class*='button'],.btns_small button[class*='button']{background:#fff;border:1px solid #777777;padding:3px;width:auto;}

/* 사용자 정의 특수문자 */
.char-1{display:inline-block;width:.62em;height:2px;background:#666;vertical-align:middle;}

/* 아이콘 */
.new{display:inline-block;border-radius:50%;width:16px;height:16px;background:#e05652;color:#fff;font-size:10px;line-height:16px;font-weight:300;text-align:center;margin-left:5px;vertical-align:middle;} 
.no_data {width:100% !important;text-align:center;}
.no_data i{display:block;width:83px;height:83px;background:url(../images/template/bbs/ic_nodata.png) 0 0 no-repeat;margin: 0.5em auto;}
.plus{display:block;width:15px !important;height:15px !important;background:url(../images/template/ic_plus.png) 50% 50% no-repeat;}
.minus{display:block;width:15px !important;height:15px !important;background:url(../images/template/ic_minus.png) 50% 50% no-repeat;}
.down{display:block;width:15px !important;height:15px !important;background:url(../images/template/ic_down.png) 0 0 no-repeat;margin-right:0 !important;}
.ic_bar{display:inline-block;width:1px;height:11px;background:url(../images/template/bar1bg1.png) 0 0 no-repeat;margin:0 5px;vertical-align:middle;}
.ic_restart{display:inline-block;border-radius:50%;width:20px;height:20px;background:url(../images/template/ic-restart1.png) 0 0 no-repeat;background-size:100%;margin-left:10px;vertical-align:middle;} 

/* 첨부파일 공통 */
.attach a{display:inline-block;margin-left:10px;padding-right:25px;background:url(../images/template/bbs/ic_down.png) 100% 50% no-repeat;background-size:18px;}
.attach a:first-child{margin-left:0;}

/* 기본 레이아웃 영역 */
.container{position:relative;width:auto;min-width:300px;margin:0 10px;padding:0;} 
