<?xml version="1.0" encoding="UTF-8"?>
<!--
 * mybatis-config.xml
 *
 * AI-J3(MyBatis) の  設定ファイルです。
 *
 * $ mybatis-config.xml 1757 2015-07-03 05:43:12Z 10088DS00879 $
 *
 * Copyright (c) 2015 DENSO IT SOLUTIONS. All rights reserved.
-->
<!DOCTYPE configuration PUBLIC
    "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- [EN] Logger Implementation Definition -->
    <!-- [JP] Logger実装定義 -->
    <settings>
        <!-- [JP] MyBatisのデフォルトLoggerはSLF4Jです -->
        <!-- [EN] Default Logger of MyBatis is SLF4J -->
        <setting name="logImpl" value="LOG4J2" />
        <!-- JDBC type in the case that the field domain is null (Can not be changed) -->
        <setting name="jdbcTypeForNull" value="NULL" />
        <!-- Scope of local cache (Can not be changed) -->
        <setting name="localCacheScope" value="STATEMENT" />
    </settings>

    <!-- [EN] Alias Definition of Domain -->
    <!-- [JP] Domainの別名定義 -->
    <typeAliases>
        <typeAlias alias="MaEmpDomain" type="com.globaldenso.dnkr.domain.MaEmpDomain" />
        <typeAlias alias="MaDeptDomain" type="com.globaldenso.dnkr.domain.MaDeptDomain" />
    </typeAliases>

    <mappers>
        <!-- [EN] WorkConfirm sqlMap -->
        <!-- [JP]  -->
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Dzone.xml" />
        <mapper resource="com/globaldenso/dnkr/integration/sqlmap/SqlMap-Dzone-Dept.xml" />

    </mappers>

</configuration>