<?xml version="1.0" encoding="UTF-8"?>
<!--
 * applicationContext-akatsuki-jdbc.xml
 * 
 * [JP] Akatsuki(Spring) 各ジョブ(スケジュール/リクエスト/常駐)の JDBC 設定ファイルです。
 * [JP]
 * [JP] 以下の DB 接続情報を定義しています。
 * [JP]
 * [JP]  ・トランザクションマネージャーの設定
 * [JP]  ・データソースの設定
 * [JP]  ・jdbc.properties の指定
 * [JP]  ・MyBatis の設定
 * 
 * [EN] This is the JDBC configuration file of each job(schedule / request / resident) Akatsuki (Spring).
 * [EN]
 * [EN] We define the following DB connection information.
 * [EN]
 * [EN]  ・Transaction manager configuration
 * [EN]  ・Data source configuration
 * [EN]  ・Specify jdbc.properties
 * [EN]  ・MyBatis configuration
 * 
 * $ applicationContext-akatsuki-jdbc.xml 1651 2015-06-03 08:48:15Z 815372040074 $
 *
 * Copyright (c) 2015 DENSO IT SOLUTIONS. All rights reserved.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

    <!-- [JP] トランザクション管理 ============================================== -->
    <!-- [EN] Transaction management ============================================== -->
    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- [JP] データソース ====================================================== -->
    <!-- [EN] Data source ====================================================== -->
    <bean id="dataSource"
        class="org.apache.commons.dbcp2.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="initialSize" value="1" />
        <property name="maxTotal" value="3" />
        <property name="maxIdle" value="1" />
        <property name="maxWaitMillis" value="10000" />
        <property name="minIdle" value="1" />
        <property name="removeAbandonedOnBorrow" value="true" />
        <property name="removeAbandonedOnMaintenance" value="true" />
        <property name="removeAbandonedTimeout" value="300" />
        <property name="logAbandoned" value="false" />
        <property name="accessToUnderlyingConnectionAllowed"
            value="true" />
    </bean>

    <!-- [JP] JDBCプロパティファイル ============================================ -->
    <!-- [EN] JDBC properties file ============================================ -->
    <bean id="jdbcConnectionConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="jdbc-akatsuki.properties" />
    </bean>


    <!-- [JP] MyBATIS 設定 ======================================================= -->
    <!-- [EN] MyBATIS configuration ======================================================= -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="sqlSessionFactory"
        class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:./mybatis-config-akatsuki.xml</value>
        </property>
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
     </bean>

</beans>