
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible"  content="IE=Edge" />
  <meta http-equiv="Pragma"           content="no-cache" />
  <meta http-equiv="Cache-Control"    content="no-cache, no-store" />
  <meta http-equiv="Expires"          content="-1" />

  <title>덴소코리아 &gt; DICAS</title>

  <link rel="stylesheet" type="text/css" href="/assets/js/ax5ui/ax5ui-kernel/dist/ax5ui.all.css" />
  <link rel="stylesheet" type="text/css" href="/assets/js/kendo-2018.3.1017/css/web/kendo.common.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/js/kendo-2018.3.1017/css/web/kendo.rtl.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/js/kendo-2018.3.1017/css/web/kendo.default.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/js/kendo-2018.3.1017/css/web/kendo.default.mobile.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/js/kendo-2018.3.1017/css/dataviz/kendo.dataviz.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/js/kendo-2018.3.1017/css/dataviz/kendo.dataviz.default.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/kendo-reset.css" />

  <link rel="stylesheet" type="text/css" href="/assets/js/jqgrid-4.6.0/css/ui.jqgrid.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/ui.jqgrid-reset.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reset.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="/assets/js/tui-grid/tui-grid.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/tui-grid-reset.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/js/tui-pagination/tui-pagination.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/js/tui-tree/tui-tree.css"/>

  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/font.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/lib.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/sub-layout.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/content.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/template.css"/>

  <link rel="stylesheet" type="text/css" href="/assets/css/main2018.css"/><!-- 메인의 경우만 보여지게 -->

  <script type="text/javascript" src="/assets/js/kendo-2018.3.1017/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="/assets/js/backbone/backbone-min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.mockjax.min.js"></script>
  <script type="text/javascript" src="/assets/js/fileUploadCheck.js"></script>
  <script type="text/javascript" src="/assets/js/warningDialog.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

  <script src="/assets/js/kendo-2018.3.1017/js/kendo.all.min.js"></script>
  <script src="/assets/js/kendo-2018.3.1017/js/kendo.timezones.min.js"></script>
  <script src="/assets/js/kendo-2018.3.1017/js/cultures/kendo.culture.ko-KR.min.js"></script>

  <script type="text/javascript" src="/assets/js/tui-code-snippet/tui-code-snippet.min.js"></script>
  <script type="text/javascript" src="/assets/js/tui-pagination/tui-pagination.min.js"></script>
  <script type="text/javascript" src="/assets/js/tui-grid/tui-grid.js"></script>
  <script type="text/javascript" src="/assets/js/tui-tree/tui-tree.js"></script>
  <script type="text/javascript" src="/assets/js/libphonenumber-js.min.js"></script>
  <script type="text/javascript" src="/assets/js/moment.min.js"></script>
  <script type="text/javascript" src="/assets/js/moment.timezone.js"></script>

  <script type="text/javascript" src="/assets/js/ax5ui/ax5ui-kernel/dist/ax5ui.all.min.js"></script>
  <script type="text/javascript" src="/assets/js/subcommon.js"></script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/assets/js/html5shiv.min.js"></script>
  <![endif]-->


  <script type="text/javascript">
      var DICAS_URL = "";
  </script>
</head>
<body>


<!--div class="doc-wrap">
  <div class="body" id="tab_container">
    <div id="body_cotent">
    </div>
  </div>
</div-->
<!-- main_body -->
<div class="main_body">

  <!-- 클레임 접수 상황 -->
  <div class="m1">
    <h2>클레임 접수 상황</h2>
    <a href="#" class="ic_more">더보기</a>
    <a href="#tab1" class="b1 tab tab1 on">그래프형</a>
    <a href="#tab2" class="b1 tab tab2">리스트형</a>
    <!-- 그래프 형 -->
    <div id="tab1" class="tab-cont m1bg1">
      <div class="clearfix">
        <div class="col-left">
          <div class="m1c1">
            <!-- m1c1_tit -->
            <div class="m1c1_tit">
              <span class="txt1">2018년 8월 3주차</span>
              <h3>콜 대상</h3>
              <div class="select_box_1">
                대상 선택 <a href="#open_list_box_1" class="b1 toggle"><span class="dpn">여닫기</span></a>
                <div id="open_list_box_1" class="list">
                  <ul>
                    <li><a href="#">리스트 1</a></li>
                    <li><a href="#">리스트 2</a></li>
                    <li><a href="#">리스트 3</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /m1c1_tit -->
            <!-- m1c1_graph -->
            <div class="m1c1_graph">
                <div class="bar_x">
                  <ul>
                    <li>60</li>
                    <li>40</li>
                    <li>20</li>
                    <li>0</li>
                  </ul>
                </div>
                <div class="bar">
                  <ul>
                    <li><div class="bg" style="height:100%;"><!-- 숫자(100%)를 고쳐주세요 --></div><span class="txt_y">08.14</span></li>
                    <li><div class="bg" style="height:70%;"><!-- 숫자(70%)를 고쳐주세요 --></div><span class="txt_y">08.15</span></li>
                    <li><div class="bg" style="height:40%;"><!-- 숫자(40%)를 고쳐주세요 --></div><span class="txt_y">08.16</span></li>
                    <li><div class="bg" style="height:80%;"><!-- 숫자(80%)를 고쳐주세요 --></div><span class="txt_y">08.17</span></li>
                    <li><div class="bg" style="height:100%;"><!-- 숫자(100%)를 고쳐주세요 --></div><span class="txt_y">08.18</span></li>
                    <li><div class="bg" style="height:20%;"><!-- 숫자(20%)를 고쳐주세요 --></div><span class="txt_y">08.19</span></li>
                    <li><div class="bg" style="height:100%;"><!-- 숫자(100%)를 고쳐주세요 --></div><span class="txt_y">08.20</span></li>
                  </ul>
                </div>
            </div>
            <!-- /m1c1_graph -->
          </div>
        </div>
        <div class="col-right">
          <div class="m1c2">
            <a href="#" class="item1"><span class="txt1"><i></i> 상담접수</span><span class="txt2"><span class="num">7</span>건</span></a>
            <a href="#" class="item2"><span class="txt1"><i></i> 상담진행</span><span class="txt2"><span class="num">4</span>건</span></a>
            <a href="#" class="item3"><span class="txt1"><i></i> 처리완료</span><span class="txt2"><span class="num">1</span>건</span></a>
          </div>
          <div class="m1c3">
            <h3>처리율</h3>
            <div class="bar">
              <div class="note" style="left:calc(15% / 2);">15%</div><!-- 숫자(15%)를 고쳐주세요 -->
              <div class="bg"><div class="ing" style="width:15%"><!-- 숫자(15%)를 고쳐주세요 --></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / 그래프 형 -->
    <!-- 리스트 형 -->
    <div id="tab2" class="tab-cont m1bg1">
      <div class="clearfix">
        <table class="bList">
          <col />
          <thead>
          <tr>
            <th scope="col">접수일</th>
            <th scope="col">상태</th>
            <th scope="col">정비소명</th>
            <th scope="col">상담예정</th>
            <th scope="col">VINNo</th>
            <th scope="col">메이커</th>
            <th scope="col">배기형식 </th>
            <th scope="col">엔진형식</th>
            <th scope="col">차종</th>
            <th scope="col">진행</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>2018-08-20</td>
            <td>콜대상</td>
            <td>복룡현대자동차</td>
            <td>정종훈</td>
            <td>KMFCZCZ7KAJU576650</td>
            <td>현대</td>
            <td>-</td>
            <td>A-2</td>
            <td>POTER II(HR)</td>
            <td>접수</td>
          </tr>
          <tr>
            <td>2018-08-20</td>
            <td>콜대상</td>
            <td>복룡현대자동차</td>
            <td>정종훈</td>
            <td>KMFCZCZ7KAJU576650</td>
            <td>현대</td>
            <td>-</td>
            <td>A-2</td>
            <td>POTER II(HR)</td>
            <td>접수</td>
          </tr>
          <tr>
            <td>2018-08-20</td>
            <td>콜대상</td>
            <td>복룡현대자동차</td>
            <td>정종훈</td>
            <td>KMFCZCZ7KAJU576650</td>
            <td>현대</td>
            <td>-</td>
            <td>A-2</td>
            <td>POTER II(HR)</td>
            <td>접수</td>
          </tr>
          <tr>
            <td>2018-08-20</td>
            <td>콜대상</td>
            <td>복룡현대자동차</td>
            <td>정종훈</td>
            <td>KMFCZCZ7KAJU576650</td>
            <td>현대</td>
            <td>-</td>
            <td>A-2</td>
            <td>POTER II(HR)</td>
            <td>접수</td>
          </tr>
          <tr>
            <td>2018-08-20</td>
            <td>콜대상</td>
            <td>복룡현대자동차</td>
            <td>정종훈</td>
            <td>KMFCZCZ7KAJU576650</td>
            <td>현대</td>
            <td>-</td>
            <td>A-2</td>
            <td>POTER II(HR)</td>
            <td>접수</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /리스트 형 -->
  </div>
  <!-- / 클레임 접수 상황 -->
  <div class="clearfix">
    <!-- 고품회수관리 -->
    <div class="m2 col-left">
      <h2>고품회수관리</h2>
      <i class="arrow"></i>
      <div class="m2list">
        <a href="#" class="item1"><i></i><span class="txt1">단품<br />미회수고품</span><span class="txt2"><span class="num">62</span>건</span></a>
        <a href="#" class="item2"><i></i><span class="txt1">커먼레일<br />미회수고품</span><span class="txt2"><span class="num">100</span>건</span></a>
        <a href="#" class="item3"><i></i><span class="txt1">기타<br />미회수고품</span><span class="txt2"><span class="num">15</span>건</span></a>
      </div>
    </div>
    <!-- / 고품회수관리 -->

    <!-- 비용처리관리 -->
    <div class="m3 col-right">
      <h2>비용처리관리</h2>
      <a href="#" class="ic_more">더보기</a>
      <div class="m3tit">
        <table>
          <tr>
            <td>결과 등록일</td>
            <td>SD명</td>
            <td>승인번호</td>
            <td>결재상태</td>
          </tr>
        </table>
      </div>
      <div class="m3list">
        <!-- 상태 값에 따라 class 달라짐
        1. SUBMISSION : status01 (파랑)
        2. APPROVAL : status02 (빨강)
        3. 미정 : status03 (초록)
        4. 미정 : status04 (보라)
        5. 미정 : status05 (검정)
        -->
        <table class="status01">
          <tr>
            <td>2018.11.01</td>
            <td>빙고카랜드</td>
            <td>D20181109-002</td>
            <td class="status">SUBMISSION<i class="ic1"></i></td>
          </tr>
        </table>
        <table class="status02">
          <tr>
            <td>2018.11.01</td>
            <td>빙고카랜드</td>
            <td>D20181109-002</td>
            <td class="status">APPROVAL<i class="ic1"></i></td>
          </tr>
        </table>
        <table class="status01">
          <tr>
            <td>2018.11.01</td>
            <td>빙고카랜드</td>
            <td>D20181109-002</td>
            <td class="status">SUBMISSION<i class="ic1"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- / 비용처리관리 -->
  </div>

  <div class="clearfix">
    <!-- 공지사항 -->
    <div class="m4 col-left">
      <h2>공지사항</h2>
      <a href="?" class="ic_more">더보기</a>
      <table class="bList">
        <col style="width:80px" />
        <col style="width:100px" />
        <col style="width:100px" />
        <col />
        <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">날짜</th>
          <th scope="col">글쓴이</th>
          <th scope="col">제목</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a> <i class="ic1 new">새 글</i></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자</a> <i class="ic1 new">새 글</i></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포 덴소관리자용DICAS사용자 메뉴얼 배포 덴소관리자용DICAS사용자 메뉴얼 배포 덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a> <i class="ic1 new">새 글</i></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- / 공지사항 -->

    <!-- 게시판 -->
    <div class="m5 col-right">
      <h2>게시판</h2>
      <a href="?" class="ic_more">더보기</a>
      <table class="bList">
        <col style="width:80px" />
        <col style="width:100px" />
        <col style="width:100px" />
        <col />
        <thead>
        <tr>
          <th scope="col">번호</th>
          <th scope="col">날짜</th>
          <th scope="col">글쓴이</th>
          <th scope="col">제목</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a> <i class="ic1 new">새 글</i></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a></td>
        </tr>
        <tr>
          <td>10000</td>
          <td>2018.09.23</td>
          <td>작성자</td>
          <td class="tal"><a href="?" class="subject">덴소관리자용DICAS사용자 메뉴얼 배포_v1.0</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- / 게시판 -->
  </div>


</div>
<!-- //main_body -->

<script type="text/javascript">/*<![CDATA[*/
$(function(){
    $("a.b1.tab").on("click",function(e){
        e.preventDefault();
        var $that = $($(this).attr('href'));
        $("a.b1.tab").removeClass("on");
        $(this).addClass("on");
        $(".tab-cont").hide();
        $that.show();
    });

    $("a.b1.toggle").on("click",function(e){
        e.preventDefault();
        var $that = $($(this).attr('href'));
        if($(this).hasClass("on")){
            $(this).removeClass("on");
            $that.hide();
        }else{
            $(this).addClass("on");
            $that.show();
        }
    });
});
/*]]>*/</script>
</body>
</html>