.main-con {overflow:hidden;}
.main-con .mC-left {float:left;width:340px;padding:30px; }
.main-con .mC-right {float:left;width:590px;padding:30px;background:#efefef;}

.main-con .mC-left .tit {color:#d7363c;margin-bottom:15px;font-size:17px;font-weight:bold}

.main-con .mC-left .notice {padding-bottom:40px;margin-bottom:41px;border-bottom:1px solid #dddddd;height:290px;}
.main-con .mC-left .notice .today {margin-bottom:20px;overflow: hidden;}
.main-con .mC-left .notice .today .day{border:1px solid #c4c4c4;border-radius:3px;width:80px;height:80px;text-align:center;float:left;margin-right:15px;}
.main-con .mC-left .notice .today .day .dd {font-size:35px;font-weight:bold;line-height:35px;padding-top:12px;}
.main-con .mC-left .notice .today .today-tit {width:243px;float:left;font-size:16px;font-weight:600;padding-top:17px;}
.main-con .mC-left .notice .notice-list {clear:both;line-height: 30px;}
.main-con .mC-left .notice .notice-list li {background:url(../img/list-style.png)no-repeat 0 13px;padding-left:10px;}

.main-con .mC-left .bookmark .bmark-wrap{background:#f1f1f1;border-radius:3px;overflow: hidden;text-align:center;padding-top:8px;padding-bottom:8px;}
.main-con .mC-left .bookmark .bmark-wrap a {display:inline-block;width:80px;height:80px;margin:10px;border-radius:50%;text-align:center;line-height:80px;overflow:hidden;background:#fff;}
.main-con .mC-left .bookmark .bmark-wrap a .bmark-name {display:none;width:100%;height:100%;background:rgba(215, 54, 60, 1);color:#fff;}
.main-con .mC-left .bookmark .bmark-wrap a:hover .bmark-name{display:block;}
.main-con .mC-left .bookmark .bmark-wrap a img {width:40px;}
.main-con .mC-left .bookmark .bmark-wrap a.bmark-n {background:url(../img/bmark-n.png)no-repeat center center #fff;}

.main-con .mC-left .bookmark {position:relative;}
.main-con .mC-left .bookmark .set-icon {position:absolute;top:5px;right:0;}

.main-con .mC-right .icon-menu {overflow:hidden;width:576px;margin:0 auto;}
.main-con .mC-right .icon-menu p {float:left;width:180px;height:200px;border-radius:3px;text-align:center;font-weight:600;font-size:17px;border:1px solid #c4c4c4;background: #fff;}
.main-con .mC-right .icon-menu p a {width:100%;height:100%;display: block;}
.main-con .mC-right .icon-menu p span.img-wrap {display:block;width:90px;height:90px;text-align:center;margin:50px auto 0;}
.main-con .mC-right .icon-menu p.ic-mn-01 {margin:0 15px 15px 0;}
.main-con .mC-right .icon-menu p.ic-mn-02 {margin:0 15px 15px 0;}
.main-con .mC-right .icon-menu p.ic-mn-03 {margin-bottom: 15px;}
.main-con .mC-right .icon-menu p.ic-mn-04 {margin:0 15px 15px 0;}
.main-con .mC-right .icon-menu p.ic-mn-05 {margin:0 15px 15px 0;}
.main-con .mC-right .icon-menu p.ic-mn-06 {margin-bottom:15px;}
.main-con .mC-right .icon-menu p.ic-mn-07 {margin-right:15px}
.main-con .mC-right .icon-menu p.ic-mn-08 {margin-right:15px}

/* dev-j */
.mbC-bottom .category {
	display: inline-block;
    width: 50px;
    /*padding: 3px 0;*/
    padding:3px 5px;
    margin-right:5px;
    color: #666666;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
	text-align: center;
}
/* //dev-j */
