<?xml version="1.0" encoding="euc-kr"?>
<Datasets>
	<Dataset DataSetType="Dataset" Id="ds_FPQE110QR">
		<Contents>
			<colinfo id="CUSNO" size="256" summ="default" type="STRING"/>
			<colinfo id="PRTNO" size="256" summ="default" type="STRING"/>
			<colinfo id="PROCS" size="256" summ="default" type="STRING"/>
			<colinfo id="PNYMD" size="256" summ="default" type="STRING"/>
			<colinfo id="CPRTN" size="256" summ="default" type="STRING"/>
			<colinfo id="CPDSC" size="256" summ="default" type="STRING"/>
			<colinfo id="PRCQY" size="256" summ="default" type="STRING"/>
			<colinfo id="RGNCD" size="256" summ="default" type="STRING"/>
			<colinfo id="RGNNM" size="256" summ="default" type="STRING"/>
			<colinfo id="BXLCD" size="256" summ="default" type="STRING"/>
			<colinfo id="MKLOC" size="256" summ="default" type="STRING"/>
			<colinfo id="MKALC" size="256" summ="default" type="STRING"/>
			<colinfo id="ECCID" size="256" summ="default" type="STRING"/>
			<colinfo id="COLOR" size="256" summ="default" type="STRING"/>
			<colinfo id="LBRCD" size="256" summ="default" type="STRING"/>
			<colinfo id="HMCCD" size="256" summ="default" type="STRING"/>
			<colinfo id="PGSCD" size="256" summ="default" type="STRING"/>
			<colinfo id="CARCD" size="256" summ="default" type="STRING"/>
			<colinfo id="CARNM" size="256" summ="default" type="STRING"/>
			<colinfo id="CWHCD" size="256" summ="default" type="STRING"/>
			<colinfo id="BRDCD" size="256" summ="default" type="STRING"/>
			<colinfo id="MLTCD" size="256" summ="default" type="STRING"/>
			<colinfo id="ITDSC" size="256" summ="default" type="STRING"/>
			<colinfo id="LOTSZ" size="256" summ="default" type="STRING"/>
			<colinfo id="ORCQY" size="256" summ="default" type="STRING"/>
			<colinfo id="OROQY" size="256" summ="default" type="STRING"/>
			<colinfo id="PRGGU" size="256" summ="default" type="STRING"/>
			<colinfo id="CUSNM" size="256" summ="default" type="STRING"/>
			<colinfo id="MKCRC" size="256" summ="default" type="STRING"/>
			<colinfo id="MKFAC" size="256" summ="default" type="STRING"/>
			<colinfo id="EXPDP" size="256" summ="default" type="STRING"/>
			<colinfo id="MKWHH" size="256" summ="default" type="STRING"/>
			<colinfo id="MKADD" size="256" summ="default" type="STRING"/>
			<colinfo id="MKPRS" size="256" summ="default" type="STRING"/>
			<colinfo id="DKD01" size="256" summ="default" type="STRING"/>
			<colinfo id="DKD02" size="256" summ="default" type="STRING"/>
			<colinfo id="DKD03" size="256" summ="default" type="STRING"/>
			<colinfo id="DKD04" size="256" summ="default" type="STRING"/>
			<colinfo id="REP01" size="256" summ="default" type="STRING"/>
			<colinfo id="USNCD" size="256" summ="default" type="STRING"/>
			<colinfo id="MRPSQ" size="256" summ="default" type="STRING"/>
			<colinfo id="CRTDT" size="256" summ="default" type="STRING"/>
			<colinfo id="PTLCK" size="256" summ="default" type="STRING"/>
			<colinfo id="IDLCK" size="256" summ="default" type="STRING"/>
			<colinfo id="COMPS" size="256" summ="default" type="STRING"/>
			<colinfo id="KNGUBT" size="256" summ="default" type="STRING"/>
			<colinfo id="CPRTNT" size="256" summ="default" type="STRING"/>
			<colinfo id="PRTNOT" size="256" summ="default" type="STRING"/>
			<colinfo id="ORCQYT" size="256" summ="default" type="STRING"/>
			<colinfo id="PROCST" size="256" summ="default" type="STRING"/>
			<colinfo id="PRODYT" size="256" summ="default" type="STRING"/>
			<colinfo id="BUCKTT" size="256" summ="default" type="STRING"/>
			<colinfo id="SPLITT" size="256" summ="default" type="STRING"/>
			<colinfo id="SEQNOT" size="256" summ="default" type="STRING"/>
			<colinfo id="SERNOT" size="256" summ="default" type="STRING"/>
			<colinfo id="INSNOT" size="256" summ="default" type="STRING"/>
			<colinfo id="HDCNTT" size="256" summ="default" type="STRING"/>
			<colinfo id="BARCDT" size="256" summ="default" type="STRING"/>
			<colinfo id="BOXCCT" size="256" summ="default" type="STRING"/>
			<colinfo id="LOCNOT" size="256" summ="default" type="STRING"/>
			<colinfo id="SMCD" size="256" summ="default" type="STRING"/>
			<colinfo id="BARCD2" size="256" summ="default" type="STRING"/>
		</Contents>
	</Dataset>
</Datasets>