/*프로젝트 등록*/
.pj_regist table thead span{display:block;}
button.gradi {background-image: -webkit-linear-gradient(top,#fff 0,#ccc 100%); background-image: -o-linear-gradient(top,#fff 0,#ccc 100%); background-image: linear-gradient(to bottom,#fff 0,#ccc 100%);
	border: 1px solid #ddd; padding:5px; margin-bottom:5px;  border-radius:2px;color:#666}
button.gradi-red {background-image: -webkit-linear-gradient(top,#bc181e 0,#e6686c 100%); background-image: -o-linear-gradient(top,#bc181e 0,#e6686c 100%); background-image: linear-gradient(to bottom,#e6686c 0,#bc181e 100%);
	border: 1px solid #c54b50; padding:5px; margin-bottom:5px;  border-radius:2px; color:#fff; font-weight:500}
button.gradi-black {background-image: -webkit-linear-gradient(top,#565656 0,#888 100%); background-image: -o-linear-gradient(top,#565656 0,#888 100%); background-image: linear-gradient(to bottom,#888 0,#565656 100%);
	border: 1px solid #888; padding:5px; margin-bottom:5px;  border-radius:2px; color:#fff; font-weight:500}
button.gradi-grey {background-image: -webkit-linear-gradient(top,#fafafa 0,#cfcfcf 100%); background-image: -o-linear-gradient(top,#fafafa 0,#cfcfcf 100%); background-image: linear-gradient(to bottom,#fafafa 0,#cfcfcf 100%);
	border: 1px solid #ccc; padding:5px; margin-bottom:5px;  border-radius:2px;}

.pj_regist table td, .pj_regist td {position:relative; padding:10px 15px !important;}
.pj_regist table td .detail, .detail {display:none; width:270px; height:232px; background:#fff; position:absolute; top:-5px; left:100px; z-index:1000; border-top:7px solid #666; border-radius:2px; box-shadow: rgba(0, 0, 0, 0.2) 2px 5px 5px; border-left:1px solid #ddd;; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.pj_regist table td .detail_wrap, .detail_wrap {padding:10px;}
.pj_regist table td .detail textarea, .detail textarea  {width:235px; height:130px; resize: none;}

/* 프로젝트 등록페이지 버튼변경으로 인한 삭제  */
/* .pj_regist table td .detail button, .detail button  {padding:5px 10px; color:#fff; border-radius:2px;} */

.pj_regist table select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:1px solid #ddd; background: url(../img/select-arrow.png) no-repeat 85% 13px; width:60px; line-height:25px;}
.pj_regist table select::-ms-expand {display: none;}

.pjr_top select {-webkit-appearance: none; -moz-appearance: none; appearance: none; border:1px solid #ddd; background: url(../img/select-arrow.png) no-repeat 92% 12px #fff; padding:0 30px 0 30px; height:30px; line-height:25px;}
.pjr_top select::-ms-expand {display: none;}

.pjr_top {overflow:hidden;}
.pjr_top .bnt button {display:inline-block;padding:8px 27px;color:#fff;border-radius:3px;text-align:center;}
.pjr_top .bnt button:first-child {margin-right:5px;}
.pjr_top .top_right {position:relative;}
.pjr_top .calendar_icon.black, .calendar_icon {position:absolute; top:6px; left:2px; display:inline-block; background:url(../img/content/calendar.png)no-repeat center center; width:28px; height:24px; }


/*180307 프로젝트 등록 레이아웃 변경으로 인한 추가*/
.regist_form_tit {display:block; width:89%; margin:0 auto; padding:5px 0; background:#555; color:#fff; text-align:center;}
.regist_form {width:85%; padding:2%; background:#fff; margin:0 auto;}
.regist_form ul {width: 100%; display: inline-block; text-align:center; padding-bottom:23px; border-bottom: 1px solid #ddd;}
.regist_form li {width:14.95%; float:left; margin-right:1%;}
.regist_form li:last-child {margin-right:0;}
.regist_form li select {height:36px; width:100%; padding:0.2em 5px 0.3em 5px;}
.regist.bnt {width:69%; margin:0 auto;}
.regist.bnt button { padding-left:32px;}
.regist_form span.stit {display:block; font-weight:600; margin-bottom:5px; height: 36px;}
.regist_form .txt {clear:both; width:100%;}




/*180212*/

/*프로젝트등록 현황*/
.prj02_Form select {width:120px;}
.prj02_Form button.view-bnt {padding:7px 10px 7px 27px; border-radius:3px; color:#fff; background:url(../img/content/check_icon.png) no-repeat 8px center #d7363c}

.project02_wrap .cont {overflow:hidden;}
.project02_wrap .cont .contL {width:49%; margin-right:2%;}
.project02_wrap .cont .contR {width:49%; background:#fff;}

/*180212*/


/*180213*/

/*자기분석*/
.project05_wrap select, .project04_wrap select{width:110px;}

.project01_02_wrap .list-top .pjr_top {position:relative; clear:both;}


/*업무별통계*/
.project04_wrap .list-top .pjr_top {position:relative;}
.cont_gp.thr .fl, .cont_gp.thr .fr {width:32%; margin-right:2%;}
.cont_gp.thr .fl.last {margin-right:0;}



/*개인별상세통계*/
button.view-bnt {padding:7px 10px 7px 27px; border-radius:3px; color:#fff; background:url(/img/content/check_icon.png) no-repeat 8px center #d7363c}
button.view-bnt-big {padding:8px 20px 8px 37px; border-radius:3px; color:#fff; background:url(/img/content/check_icon.png) no-repeat 15px center #d7363c}
.boxform {padding-left: 28px !important}

.project05_wrap .list-top .pjr_top {position:relative; clear:both;}
.pj-smtab li {float:left;}
.pj-smtab li.over a {background:#d7363c; border-color:#d7363c;}
.pj-smtab li.over a span {font-weight:600;  color:#fff;}
.pj-smtab li a {display:block; padding:7px 0; border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd; border-bottom:1px solid #ddd; background:#fff;}
.pj-smtab li.first a {border-left:1px solid #ddd; border-radius:3px 0 3px 0}
.pj-smtab li.first.over a {border-radius:3px 0 0 3px}
.pj-smtab li.last a {border-radius:0 3px 3px 0} 
.pj-smtab li a span {display:block; min-width:100px; padding:0 15px; text-align:center;}

.cont_gp .fl, .cont_gp .fr {width:48%; }
.cont_gp .gp-wrap {border:1px solid #ddd; height:370px; background:#fff;}
.cont_gp .tit {margin-bottom:10px; padding-left:5px; padding-bottom:2px; font-weight:600; border-left:5px solid #d7363c;}

/*180213*/



/*영수증 확인*/
.nopadd {padding-top:0;}

.receipt01_wrap .pjr_top {position:relative;}
.pjr_top .calendar_icon.black {position:absolute; display:inline-block; background:url(../img/content/calendar_b.png)no-repeat center center; width:28px; height:24px; }
.pjr_top .calendar_icon.c1 {top:7px; left:38px;}
.pjr_top .calendar_icon.c2 {top:7px; /*left:188px;*/left:178px}

.receipt01_wrap .boxform {padding-left:28px !important;}

.receipt01_wrap table img {max-width:100%;}

.receipt01_wrap table.rline td {padding:7px 10px}
.receipt01_wrap table button {font-size:12px; padding:5px 10px; border-radius:2px;}
.receipt01_wrap table button.dView {background:#c6363c; color:#fff;}



/*영수증 자세히보기*/
.receipt_detailview-wrap .imgwrap {width:32%; text-align:center; margin-right:2%; background:#cacaca; padding:40px 2%; border-radius:5px; }
.receipt_detailview-wrap .imgwrap img {max-width:100%;}
.receipt_detailview-wrap .txtwrap {width:62%;}
.receipt_detailview-wrap .txtwrap table th {padding:10px 0 ;}
.receipt_detailview-wrap .txtwrap table tbody th {background:#fff; border-right:1px solid #cdcdcd;border-bottom:1px solid #ddd;}
.receipt_detailview-wrap .txtwrap table td {padding:5px 0; text-align:left; padding:5px 15px}
.receipt_detailview-wrap .txtwrap table td.pdnone {padding:5px 0;}





/*영수증 정산*/

.receipt01_wrap .list-top .rBox { float:right;}
.receipt01_wrap .list-top .rBox .search { float:none; display:inline-block; vertical-align:middle;}
.receipt01_wrap .list-top .rBox .search .search-text { width:180px;}
.receipt01_wrap .list-top .rBox .list-bnt { margin-left:25px; display:inline-block; vertical-align:middle;}
.receipt01_wrap .list-top .rBox .list-bnt button { padding:7px 27px;}
.receipt01_wrap .list-top .rBox .list-bnt button:first-child { margin-right:0;}


/* 기본 리스트 스타일 
.board-bList-wrap2 table {border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; }
.board-bList-wrap2 table th {padding:20px 0; border-bottom:1px solid #ddd; background:#ffebea}
.board-bList-wrap2 table td {padding:10px 20px;text-align:center; background:#fff; border-bottom:1px solid #ddd; color:#666;}
.board-bList-wrap2 table td span.new {display:inline-block; width:14px; height:14px; border-radius:50%; background:#d7363c; color:#fff;font-size:10px; text-align:center; vertical-align:middle; margin-left:8px; margin-top:-3px;}
.board-bList-wrap2 table td span.file {display:inline-block; width:14px; height:14px; background:url(../img/board/file.png)no-repeat; background-size:cover; vertical-align:middle; margin-top:-2px; margin-left:5px;}
.board-bList-wrap2 input { width:100%;}
*/
.tForm2 th {background:#e0e1e6; border-right:1px solid #ddd; border-top:2px solid #616470; padding:10px 0;}
.tForm2 td {background:#fff; text-align:center; padding:10px 20px; border-right:1px solid #ddd; border-bottom:1px solid #ddd;} 
.tForm2 td.last {border-right:none;}
.tForm2 input { width:97%;}




/*180320*/
									   
					   
 

/*종합관리 보전이력분석*/
/*
.gm_01_02_01_wrap .cont .date {background:#eaeaea; overflow:hidden; text-align:center;}
.gm_01_02_01_wrap .cont .date div {display:inline-block; padding:15px 0; position:relative;}
.gm_01_02_01_wrap .cont .calendar_icon {position:absolute; display:inline-block; background:url(../img/content/calendar.png)no-repeat center center; width:28px; height:24px; }
.gm_01_02_01_wrap .cont .calendar_icon.c1 {top:21px; left:78px;}
.gm_01_02_01_wrap .cont .calendar_icon.c2 {top:21px; left:343px;}
.gm_01_02_01_wrap .board-bList-wrap {width:41%;}
.gm_01_02_01_wrap .board-bList-wrap table {border-top:1px solid #ddd;}
.gm_01_02_01_wrap .board-bList-wrap table td {text-align:left;}
.gm_01_02_01_wrap .work-sc {width:10.8%; margin-left:5%; margin-right:2%; padding:10px 0; height:100px; border:1px solid #ddd; text-align:center;}
.gm_01_02_01_wrap input[type="text"].ipTxt01 {width:36.2%;}
.gm_01_02_01_wrap input[type="text"].ipTxt02 {width:44.5%; }
.gm_01_02_01_wrap button.next-arrow {margin:1px 1.5% 0; vertical-align:top;}
.gm_01_02_01_wrap .inner-line label {padding-right:60px;}
*/

				
			
 

/*종합관리 보전이력검색*/
.gm_01_02_01_wrap .cont .date {background:#eaeaea; overflow:hidden; text-align:center;}
.gm_01_02_01_wrap .cont .date div {display:inline-block; padding:15px 0; position:relative;}
.gm_01_02_01_wrap .cont .calendar_icon {position:absolute; display:inline-block; background:url(/img/content/calendar.png)no-repeat center center; width:28px; height:24px; }
.gm_01_02_01_wrap .cont .calendar_icon.c1 {top:21px; left:78px;}
.gm_01_02_01_wrap .cont .calendar_icon.c2 {top:21px; left:343px;}
.gm_01_02_01_wrap .board-bList-wrap {width:40%;}
.gm_01_02_01_wrap .board-bList-wrap table {border-top:1px solid #ddd;}
.gm_01_02_01_wrap .board-bList-wrap table td {text-align:left;}
.gm_01_02_01_wrap .work-sc {width:10.8%; margin-left:6%; margin-right:2%; padding:10px 0; height:100px; border:1px solid #ddd; text-align:center;}
.gm_01_02_01_wrap input[type="text"].ipTxt01 {width:35.8%;}
.gm_01_02_01_wrap input[type="text"].ipTxt02 {width:44%; }
.gm_01_02_01_wrap input[type="text"].ipTxt03 {width:95%;}
.gm_01_02_01_wrap button.next-arrow {margin:1px 1.5% 0; vertical-align:top;}

.gm_01_02_01_wrap .inner-line {overflow:hidden;}
.gm_01_02_01_wrap .ws-detail {width:18%; margin-right:4%; float:left;}
.gm_01_02_01_wrap .ws-detail.last {margin-right:0;}
.gm_01_02_01_wrap .ws-detail .tit {margin-bottom:5px;}
.gm_01_02_01_wrap .ws-detail02 {width:18%; margin-right:4%; float:left;}
.gm_01_02_01_wrap .ws-detail02 div {text-align:right}
.gm_01_02_01_wrap .ws-detail02 span {display:inline-block; text-align:left; width:26%; }

.gm_01_02_01_wrap table.search th{padding:0 10px 0 20px}
							   
									   
										
			
 

/*보전이력검색 팝업*/
.gm_01_02_02_wrap {width:1038px;}
.gm_01_02_02_wrap .inwrap { padding:20px;}
.gm_01_02_02_wrap .list-top {padding:10px 0 ; border:1px solid #ccc; }
.gm_01_02_02_wrap table {width:100%; text-align:center;}
.gm_01_02_02_wrap table th {border-right:1px solid #ddd;}
.gm_01_02_02_wrap table td {border-right:1px solid #ddd; padding:15px 0;}
.gm_01_02_02_wrap table td.pd-none {padding-bottom:0;}
.gm_01_02_02_wrap table td.last {border-right:none;}
.gm_01_02_02_wrap .tit {font-size:20px;}
.gm_01_02_02_wrap .tit span {font-size:16px;}
.gm_01_02_02_wrap input[type="text"].sc-num {width:6em; height:20px;}





/*180321*/
/*설비No별실적*/
.gm_01_03_01_wrap .board-bList-wrap table {border-top:1px solid #ddd}
.gm_01_03_01_wrap input[type="text"].ipTxt03 {width:95%;}
.gm_01_03_01_wrap table td.plr-none {padding-left:0; padding-right:0;}
.gm_01_03_01_wrap table td .acq {width:100%; height:33px; border:1px solid #cbcbcb; line-height:33px;}

.gm_01_03_01_wrap .board-bList-wrap.big input[type="text"],
.gm_01_03_01_wrap .board-bList-wrap.small input[type="text"],
.gm_01_03_01_wrap .board-bList-wrap.s-front input[type="text"]
{width:90%;}

.gm_01_03_01_wrap .board-bList-wrap.big {width:47%; padding-right:3%;}
.gm_01_03_01_wrap .board-bList-wrap.big table {width:50%;}
.gm_01_03_01_wrap .board-bList-wrap.s-front{width:24%; padding-right:2%;}
.gm_01_03_01_wrap .board-bList-wrap.small {width:24%;}

.gm_01_03_01_wrap .inner-line3 { border:1px solid #afafaf; border-top:2px solid #363636; min-height:257px;}

 

/*장비조회*/
.gm_03_02_02_wrap .board-bList-wrap table {border-top:1px solid #ddd}
.gm_03_02_02_wrap .board-bList-wrap table td {text-align:left;}
 

.gm_03_02_02_wrap .top {width:500px; float:left;}
.gm_03_02_02_wrap .top.front {margin-right:38px;}
																			  

.gm_03_02_02_wrap .sc-condi input[type="text"] {width:12%;}
.gm_03_02_02_wrap .sc-condi select {width:12%;}
.gm_03_02_02_wrap .sc-condi select.andOr {margin:0 25px;}

.gm_03_02_02_wrap .inner-line3 {width:100%; overflow-x:auto; min-height:432px;}
	



/*180323*/		  
/*생산정보조회*/
.gm_04_01_03_wrap .left-box .tForm3 td.last {text-align:left !important; padding:7px 10px}
.gm_04_01_03_wrap .board-bList-wrap table {border-top:1px solid #ddd}
										
.gm_04_01_03_wrap table.time {width:280px;}
.gm_04_01_03_wrap table.time {width:280px;}
/* .gm_04_01_03_wrap .dtb01 {height:220px; overflow-y:auto; } */
.gm_04_01_03_wrap .ptdnone th {padding:5px 10px}
											  

.gm_04_01_03_wrap table.tfoot th{border-bottom:none; border-top:1px solid #ddd;}

.gm_04_01_03_wrap .Fix01 {height:556px; overflow-y:auto;}
.gm_04_01_03_wrap .Fix02 {height:173px; overflow-y:auto;}
.gm_04_01_03_wrap .Fix03 {height:68px; overflow-y:auto;}

/*테이블 헤드,풋 고정*/
.dtb01 {padding-right:10px;}

.thfFix .mCSB_inside > .mCSB_container{ margin-right: 10px; }
.thfFix .mCSB_scrollTools {width:10px;}																				

/*보전이력검색 결과 팝업*/
.gm_01_02_03_wrap {width:1038px;}
.gm_01_02_03_wrap .inwrap {padding:20px}
.gm_01_02_03_wrap .board-bList-wrap table {border-top:1px solid #ddd}
.gm_01_02_03_wrap .board-bList-wrap input[type="text"] {width:90%;}
.gm_01_02_03_wrap .m2p {margin-right:2%;}
.gm_01_02_03_wrap .m4p {margin-right:4%;}
.contb .tit {width:100px; height:48.5px; background:#bbb; text-align:center;}
.gm_01_02_03_wrap table td.person1 span:first-child {}
.gm_01_02_03_wrap table td.person1 div {display:inline-block;}
.gm_01_02_03_wrap table td.person1 input[type="text"] {width:68%;}
.gm_01_02_03_wrap table td.person2 input[type="text"] {width:40%;}
.gm_01_02_03_wrap .Fix01 {height:69px; overflow-y:auto;}


			

/*금형진척현황 조회*/
.gm_04_03_01_wrap .board-bList-wrap table {border-top:1px solid #ddd}
.gm_04_03_01_wrap .board-bList-wrap input[type="text"] {width:90%;}
.gm_04_03_01_wrap .m2p {margin-right:2%;}
.gm_04_03_01_wrap .m4p {margin-right:4%;}
.contb .tit {width:100px; height:48.5px; background:#bbb; text-align:center;}
.gm_04_03_01_wrap table td.person1 span:first-child {}
.gm_04_03_01_wrap table td.person1 div {display:inline-block;}
.gm_04_03_01_wrap table td.person1 input[type="text"] {width:70%;}
.gm_04_03_01_wrap table td.person2 input[type="text"] {width:43%;}
.gm_04_03_01_wrap .inner-line3 {min-height:432px; border-top:2px solid #363636}
																											 

.jin_cbox_01 {width:100px; height:27px; background-color:#00FF00; border: 0.5px solid #000;}
.jin_cbox_02 {width:100px; height:27px; background-color:#FFFF00; border: 1px solid #000;}
.jin_cbox_03 {width:100px; height:27px; background-color:#FF0000; border: 1px solid #000;}
										
	
/*180327*/
/* 교정등록 */
.gm_03_01_01_wrap .board-bList-wrap table {border-top:1px solid #ddd}
.gm_03_01_01_wrap .board-bList-wrap input[type="text"] {width:90%;}
.gm_03_01_01_wrap .board-bList-wrap select {width:100%;}
.gm_03_01_01_wrap .Fix01 {height:168px;}


/* AS포장단가 생성 */
.gm_04_02_01_wrap .board-bList-wrap table {border-top:1px solid #ddd}	
				

/*2018 06 27*/
/* 그룹공통 > 자료조회 > 소요량 */
.WAE001_wrap .top-bar {background:#edf2f6; padding:15px 15px; border-top:1px solid #4f81bc; border-bottom:1px solid #4f81bc}
.WAE001_wrap .top-bar strong {color:#4f81bd}
.WAE001_wrap .date {display:inline-block;}
.WAE001_wrap .total {line-height:35px;} 

/*2018 07 26*/
/* 그룹공통 > 조회 영역 추가 */
.searchCondition .top-bar {background:#edf2f6; padding:15px 15px; border-top:1px solid #4f81bc; border-bottom:1px solid #4f81bc}
.searchCondition .top-bar strong {color:#4f81bd}
.searchCondition .date {display:inline-block;}
.searchCondition .total {line-height:35px;} 

.ScollWarp {overflow-x:scroll; position:relative;}

.tableNew {border-top:1px solid #888888; table-layout:fixed; width:1760px;}			
										 
/* .tableNew .pb {width:15%;}
.tableNew .pm {width:25%;} */
.tableNew thead th {width: 90px; background:#f4f4f4; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; padding: 8px 10px;}
.tableNew thead th:first-child {border-left:1px solid #dddddd;}
.tableNew tbody td {text-align:center; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd;padding:5px 15px;}
.tableNew tbody td:first-child {border-left:1px solid #dddddd;}
.tableNew tbody tr:hover {background:#eef0fc; font-weight:bold; box-sizing: border-box;}														

								   

/*dev-J*/

.tableNew thead th {
	width: 90px;
	padding: 8px 10px;
	box-sizing: border-box;
}

.pjr-top .fr {
	position: relative;
}

.project02_wrap .list-top ._searchBtn_, .pjt-wrap ._searchBtn_/*  .AXButton.Black */ {
    background: url(/img/content/check_icon.png) no-repeat 8px center #1e1e1e;
    padding-left: 30px;
}

.project02_wrap .list-top ._searchBtn_:hover, .pjt-wrap ._searchBtn_:hover/*  .AXButton.Black */ {
    background: url(/img/content/check_icon.png) no-repeat 8px center #1e1e1e;
    padding-left: 30px;
}

.project02_wrap .list-top ._searchBtn_:focus, .pjt-wrap ._searchBtn_:focus/*  .AXButton.Black */ {
    background: url(/img/content/check_icon.png) no-repeat 8px center #1e1e1e;
    padding-left: 30px;
}
																   
										 
										 
																												   
													  
															  
																  
																  
														

.pj-smtab li a span {
  
																					   
	padding: 0;
																																											   
																
																 
												
																	  
															   
	margin: /*7px 15px;*/ 7px 5px; 
														   
}
																			
														 
  

.pj-smtab li a {
	padding: 0;
}

.regist_form, .regist_form_tit {
																					   
																							
																																											   
																
																 
												
    border: solid 1px #555;
															   
																																				  
														   
}
														 
																			

.regist_form input{
																	 
																   
										 
										 
	width: 100%;
												   
													  
																		
																  
}
																						

.regist_form .ax5autocomplete-display 
.ax5autocomplete-display-table 
[data-ax5autocomplete-display="label"] 
[data-ax5autocomplete-display="input"] {
	width:100%;
										   
}
												

textarea {
	resize: none;
										  
}

.gm_03_02_02_wrap .inner-line3 {
	width: auto;
}

.gm_03_02_02_wrap .inner-line3 {
	overflow-x: scroll; 
}
/*dev-J*/
