.sTree2 li div {
	box-sizing : border-box;
}

.menu_box {
	position: relative;
	height: 48px;
    padding: 7px 3px 7px 0;
}

.menu_edit_box div {
	padding: 0;
}

.menu_edit_box > div input {
	box-sizing: border-box;
	height: 30px;
}

.mcdUrl {
	/* width: 140px;
	min-width: 140px;
	display: inline-block;
	text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden; */
}

.width0p {
	width: 0px;
}

.display_none {
	display: none;
}

.mcdUrlDiv {
	/* width: 230px; */
	width: 190px;
	min-width: 190px;
	/* margin-left: 30px; */
	box-sizing: border-box;
	
	
	text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.menu_right_part {
	float: right;
	padding: 0;
}

.text_align_left {
	text-align: left;
}

.text_align_right {
	text-align: right;
}

div.mcdIcon{
	padding: 0 7px; 
	font-size: 23px;
	vertical-align: bottom;
}

input.mcdIcon, input.mcdName {
	width: 100px;
}

.mcdUseDiv {
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.menu_right_part .mcdUseDiv:nth-child(1){
	width:100px;
}

#sTree2 li, #sTreePlus li, ul#sortableListsBase li {
	padding-left: 10px;
}

.menu_edit_box .mcdUseDiv {
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.paddingZero {
	padding: 0;
}

.sTree2 .AXButton, ul#sortableListsBase .AXButton {
	vertical-align: top;
}

.menu_edit_box {
    padding: 0;
}

ul#sortableListsBase .menu_box {
    height: 37px;
}