textarea {
	resize: none;
}
.gm_03_02_02_wrap .sc-condi input[type="text"].calendar_input{
	width: 90%;
}

.gm_03_02_02_wrap .inner-line3 {
	min-height: auto; 
}

.waf_wrap table th {
	width: 120px;
	min-width: 120px;
	box-sizing: border-box;
}

	@media screen and (max-width:1200px){
		.waf_wrap table th {
			width: 100px;
			min-width:0;
		}
	}

.waf_wrap table td {
	height: 35px;
}

.waf_wrap table label {
	/*width: 110px;*/
}

.waf_wrap table input[type="text"], input[type='number'] {
	width: 120px;
}

.waf_wrap table select {
	width: auto;
	height: 35px;
	padding-left: 10px;
}

	@media screen and (max-width:1200px){
		.waf_wrap table select {
			width: 80px;
		}
	}

[data-ax5grid-container="root"] [data-ax5grid-panel-scroll="body"] table tr> td:FIRST-CHILD {
    cursor: text;
    box-shadow: inset 0 0 0 0 transparent;
    background-color: transparent;
    border-radius: inherit;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
}

[data-ax5grid-container="root"] [data-ax5grid-panel-scroll="body"] table tr> td:FIRST-CHILD:hover {
    background-color: transparent;
}

#prodStatus_wrap  table.pd-s-table td:nth-child(2){
	width: 100px;
}

._excelBtn_ {
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    padding-left: 30px;
    background: url(../img/board/download-icon.png)no-repeat 10px center #528564;
    vertical-align: bottom;
    cursor: pointer;
}

button.next-arrow {
	vertical-align: top;
}



/* 생산전광판 현황 */
#prodStatus_wrap .grid-parent {
    position: relative;
    height: 400px;
    display: inline-block;
    width: 49%;
}

#prodStatus_wrap .grid-parent:nth-child(2) {
	float: right; 
}

#prodStatus_wrap .grid-parent h3 {
	margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-weight: 600;
    border-left: 5px solid #d7363c;
}

.pd-s-table.line-table th,
.pd-s-table.line-table td{
	border: 1px solid #bbb;
}

#prodStatus_wrap .pd-s-table.line-table td {
	text-align: right;
}

.textColorRed {
	/* color : #ff0000; */
	color : #0000ff;
}

#prodStatus_wrap .pd-s-table.line-table td:nth-child(1),
#prodStatus_wrap .pd-s-table.line-table td:nth-child(2),
#prodStatus_wrap .pd-s-table.line-table td:nth-child(3) {
	/* color : #ff0000; */
	color : #0000ff;
}
/* //생산전광판 현황 */


/* ---- 월별계획 대 실적조회 ----- */
.waf_wrap h1 {
    text-align: center;
    border: 1px solid #bbb;
    
    width: 400px;
    margin: auto;
    height: 35px;
    line-height: 35px;
}

.waf_wrap h1 span {
    left: 0;
    display: inline-block;
    float: left;
    width: 150px;
    border-right: 1px solid #bbb;
    background: #ffebea;
}

.mon-plan-table label{
	margin-bottom: 0;
}

/* //월별계획 대 실적조회 */


/* 보전이력검색 */

.first-tbl td{
	width:450px;
	/*width:350px*/
}

.pd-s-table td.mw145 {min-width:145px}

.date {
    margin: 10px 0;
    position: relative;
    border: 1px solid #bbb; 
    padding: 10px;
    text-align: center;
}

.date input {
	width: 120px;
}

.maintenaceCategory, .status, .textSearchBox {
	border: 1px solid #bbb;
	padding: 10px 0;
	margin-bottom: 10px;
	text-align: center;
}

.textSearchBox {
	padding-left: 25px;
}

.maintenaceCategory select, .status select {
	width: 145px;
	margin-bottom: 10px;
}

	@media screen and (max-width:750px){
		.maintenaceCategory select, .status select {
			width:100px;
		}
	}

.checkDiv div {
    padding: 5px 25px;
}

.maintenaceCategory li, .status li {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.status li {
	width: 29%
}

.status li input {
	width: 210px;
}

.status li span.title, .time_tbl span, .last_tbl_r1 span{
	width: 40px;
	display: inline-block;
    background: #e0e1e6;
    padding: 6px 10px;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #bbb;
    font-weight: bold;
}

.maintenaceCategory h3, .waf_wrap ul h3 {
	padding: 5px 0;
	font-size: 14px;
}

.psogm_wrap .first-tbl input[type="text"] {
	width: 40%;
	min-width: 110px;
}

.psogm_wrap .s-title {
	text-align: left
}

.textSearchBox td {
	padding: 5px;
}

table.textSearchTbl input[type="text"] {
	width: 90%
}

#txtmshnm {
    background-color: #ededed;
}

.maintenaceCategory .selectWrap,
.status .selectWrap, .effectTd .selectWrap {
    position: relative;
    width: 145px;
    margin: auto;
}


.effectTd .selectWrap {
	margin: inherit;
}

.status .selectWrap {
	display: inline-block;
}

.selectUl {
    position: absolute;
    top: 34px;
    left: 1px;
    z-index: 1000;
    float: left;
    min-width: 144px;
    max-height:285px;
    overflow-y: scroll;
    margin: 2px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #468ec9;
    border: 1px solid #468ec9;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.selectUl li {
	display: block;
	width: 100%;
	padding: 8px 0;
	text-align: left;
	font-size: 13px;
	line-height: 1.25em;
    font-family: Malgun Gothic,'맑은 고딕',"돋움",Dotum,Verdana,Arial,helvetica,clean,sans-serif;
}

.selectUl li span {
	padding-left: 10px;
}

.selectUl li:hover {
	background-color: #308afb;
	color: #fff;
}

.psogm_wrap select[disabled] {
	background-color: #ededed;
}

/* -----//보전이력검색 ----- */

/* -----신규이력등록 180514 ----- */
#psogm_create_wrap table {
	margin-bottom: 5px;
}

/* 신규이력등록 - 개선상세버튼 옆 비용에 적용되서 주석처리 */
/* #psogm_create_wrap table:first-child tr:first-child td:last-child {
	text-align: right;
} */

#psogm_create_wrap table:nth-child(2), 
#psogm_create_wrap table:nth-child(3), 
#psogm_create_wrap table:nth-child(4) {
    margin-bottom: 0;
    border-top: none;
}

#psogm_create_wrap table:nth-child(5) {
	border-top: none;
}

#psogm_create_wrap table.last_tbl_r2 {
	border-top: 1px solid #bbb;
}

#psogm_create_wrap table.time_tbl tr td:first-child {
	min-width: 180px;
}

/* #psogm_create_wrap table:nth-child(2) td:last-child, 
#psogm_create_wrap table:nth-child(3) td:last-child, 
#psogm_create_wrap table:nth-child(4) td:last-child {
	border-bottom: none;
} */

#psogm_create_wrap .maintenaceCategory td{
	text-align: center;
	vertical-align: top;
}

#psogm_create_wrap .maintenaceCategory .selectUl {
	left: 13px;
}

#psogm_create_wrap .thirdTbl .selectWrap {
	position: relative;
	width: 80%;
	min-width: 145px;
}

.time_tbl span {
	width: 66px;
	text-align: center;
}

.time_tbl h4 {
    margin: 0 auto 5px 10px;
    font-weight: bold;
}

.last_tbl{
	width: 60%;
	display: inline-block;
}

.last_tbl textarea {
	width: 95%;
	height: 60px;
}

.last_tbl td {
	width: 100%;
}

#psogm_create_wrap .last_tbl_r1, #psogm_create_wrap .last_tbl_r2 {
	width: 100%;
	vertical-align: top;
}

#psogm_create_wrap .last_tbl_r2 {
	height: 73px;
}

.last_tbl_r1 th, .last_tbl_r1 td {
	border-right: 1px solid #bbb;
}

.waf_wrap .last_tbl_r1 th {
	width: 80px;
	min-width: 80px;
	height: 42px;
}

.waf_wrap .last_tbl_r1 tr:nth-child(4){
	height: 70px;
}

.last_tbl_r2 textarea {
	width: 95%;
	height: 100%;
}

.r_tbl_wrap {
	width: 39%;
	display: inline-block;
	float: right;
}

#psogm_create_wrap table.pd-s-table.last_tbl_r1 {
    border: none;
    margin-bottom: 5px;
}

.scrollDiv {
    display: block;
    height: 106px;
    overflow: auto;
    margin-bottom: 5px;
    border: 1px solid #bbb;
}

.r_tbl_wrap table.pd-s-table.last_tbl_r1:nth-child(2) {
	display:block;	
}


.r_tbl_wrap table.pd-s-table.last_tbl_r1:nth-child(2) thead {
	display: block;
} 

.r_tbl_wrap table.pd-s-table.last_tbl_r1:nth-child(2) tbody {
	display: block;
	height: 107px; 
	overflow-y: auto;
}

input[type='number'] {
	text-align: right;
}

input[readonly] {
	background-color: #ededed;
}


/* -----//신규이력등록 180514 ----- */


/* -----신규이력등록 > 개선상세페에지 180607 ----- */
.AXButton {
    height: 33px;
    box-sizing: border-box;
    vertical-align: baseline;
}

.imprv_wrap .thWidth {
	width: 35px;
	min-width: 35px;
	padding: 10px;
	box-sizing: border-box;
}

.imprv_wrap .t_center {
	text-align: center;
}

.imprv_wrap .imprvTbl td:nth-child(3)
, .imprv_wrap .imprvTbl td:nth-child(4)
, .imprv_wrap .imprvTbl td:nth-child(5) {
	text-align: center;
	vertical-align: bottom;
}

.imprv_wrap .imprvTbl td.exceptTd {
	text-align: left;
	vertical-align: middle;
}

.imprv_wrap .t_right, .imprv_wrap table td:nth-child(6) {
	text-align: right;
}

.imprv_wrap .t_left {
	text-align: left;
}

.displayNone {
	display: none;
}

.h10 { 
	height: 10px;
}

.imprv_wrap .lastDiv span {
    padding: 10px;
    background-color: #dadada;
    border: 1px solid #bbb;
    font-weight: bold;
    width: 25px;
    display: inline-block;
    text-align: center;
    top: 0;
    position: absolute;
}

.imprv_wrap .lastDiv {
	position: relative;
}

.imprv_wrap .lastDiv > div {
	width: 50%;
    position: relative;
    display: inline-block;
}

.imprv_wrap .imgDiv {
    display: inline-block;
    width: 350px;
    border: 1px solid #bbb;
    height: 350px;
    top: -100px;
    margin-left: 50px;
}

.imprv_wrap .btnDiv {
    display: inline-block;
   	width: 100px;
}

.imprv_wrap textarea {
    width: 90%;
    height: 90%;
    resize: none;
}

.imprv_wrap .lastDiv img {
	width: inherit;
	height: inherit;
}

/* ----- //신규이력등록 > 개선상세페에지 180607 ----- */