body{overflow-y: auto;overflow-x: auto;background:#e6e6e6;}
.main_body{position:relative;/*background:#e6e6e6;height:100vh;min-height:950px;*/min-width:1200px; padding:57px 30px 30px 120px;}
.main_body .top_bg1{position:absolute;top:1px;left:0;width:100%;height:40px;border-bottom: 1px solid #bbbbbb;}
.main_body *{font-size:15px;}
.main_body h2{background:url(../img/main/h2bg1.png) 0 9px no-repeat;font-size:19px;color:#333;padding:10px 0 10px 30px;line-height:24px;margin:0;}
.main_body a.ic_more{position:absolute;right:0;top:12px;background:url(../img/main/ic_more.png) 100% 50% no-repeat;color:#787878;font-size:13px;padding-right:19px;line-height:18px;}
.main_body .clearfix{width:100%;padding-top:20px;}
.main_body .clearfix:after{content:'';display:block;clear:both;}
.main_body .clearfix .col-left{float:left;width:calc(50% - 15px);margin-right:15px;}
.main_body .clearfix .col-right{float:right;width:calc(50% - 15px);margin-left:15px;}
.main_body table.bList{margin-top:0;border-right:1px solid #bbb;table-layout: fixed;}
.main_body table.bList>*>tr>th,
.main_body table.bList>*>tr>td{border-width:0 0 1px 0;background:#fff;}
.main_body table.bList .subject{display:inline-block;max-width:calc(96% - 40px);text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;vertical-align:middle;}
.main_body .select_box_1{position:relative;width:143px;height:36px;border:1px solid #8a929b;border-radius:3px;line-height:36px;text-indent:10px;}
.main_body .select_box_1 a.b1.toggle{position:absolute;right:3px;top:50%;margin-top:-15px;display:block;width:30px;height:30px;background:url(../img/main/toggle_off.png) 50% 50% no-repeat;}
.main_body .select_box_1 a.b1.toggle.on{background-image:url(../img/main/toggle_on.png)}
.main_body .select_box_1 .list{position:absolute;left:0;top:36px;display:none;width:100%;z-index:1;border:1px solid #8a929b;border-radius:3px;line-height:1.555;background:#3b4859;}
.main_body .select_box_1 .list ul{margin:10px 0;padding:0}
.main_body .select_box_1 .list ul li{margin:0;padding:0;}
.main_body .select_box_1 .list ul li a{display:block;width:92%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;vertical-align:middle;}
    /* 클레임 접수 상황 */
.main_body .m1{position:relative;}
.main_body .m1 .btns{position:absolute;width:200px;right:0;top:0px;text-align:right;}
.main_body .m1 .btns a.button{font-size:14px;line-height:30px;color:#fff;}
.main_body .m1 a.ic_more{right:205px;top:20px;}
.main_body .m1 .tab{position:absolute;top:10px;display:block;width:91px;height:36px;line-height:36px;border:1px solid #3c4655;color:#2e3745;text-align:center;border-radius: 10px 10px 0 0;}
.main_body .m1 .tab.on{color:#fff;background-image:url(../img/main/m1bg2.png);}
.main_body .m1 .tab.tab1{right:10px;}
.main_body .m1 .tab.tab2{right:101px;}
.main_body .m1 .m1bg1{position:relative;height:349px;background:url(../img/main/m1bg1.jpg) 0 0 no-repeat;background-size:cover;}
.main_body .m1 .m1bg1 *{color:#fff;}
.main_body #tab1{}
.main_body #tab1 .clearfix{width:calc(100% - 40px);}
.main_body #tab2{display:none;}
.main_body #tab2 .bList{width:calc(100% - 70px);}
.main_body .m1 .clearfix{padding:35px;}
.main_body .m1 .clearfix .col-left{width:69%;margin-right:1%;}
.main_body .m1 .clearfix .col-right{width:28%;margin:20px 1% 0 1%;}
.main_body .m1 .m1c1{}
.main_body .m1 .m1c1 .m1c1_tit{position:relative;height:43px;margin-top:-20px;}
.main_body .m1 .m1c1 .m1c1_tit .txt1{position:absolute;left:0;top:3px;display:inline-block;padding:3px 10px;background:#2b333e;border-radius: 20px;color:#c9cbce;}
.main_body .m1 .m1c1 .m1c1_tit h3{text-align:center;padding:3px 0 0 0px;margin:0;font-size:21px;}
.main_body .m1 .m1c1 .m1c1_tit .select_box_1{position:absolute;right:0;top:0;}
.main_body .m1 .m1c1 .m1c1_graph{position:relative;padding:25px 0 40px 40px;}
.main_body .m1 .m1c1 .m1c1_graph .bar_x{position:absolute;left:0;top:0;}
.main_body .m1 .m1c1 .m1c1_graph .bar_x ul{}
.main_body .m1 .m1c1 .m1c1_graph .bar_x ul li{line-height:48px;color:#c9cbce;}
.main_body .m1 .m1c1 .m1c1_graph .bar{position:relative;width:100%;height:147px;background:url(../img/main/m1c1_graph_bg1.png) 0 0 repeat-x;}
.main_body .m1 .m1c1 .m1c1_graph .bar ul{margin:0 1% 0 1%;padding:0;width:98%;height:100%;}
.main_body .m1 .m1c1 .m1c1_graph .bar ul li{position:relative;float:left;margin:0;padding:0;width:14.22%;height:100%;text-align:center;}
.main_body .m1 .m1c1 .m1c1_graph .bar ul li .bg{position:absolute;left:50%;bottom:0;margin-left:-20%;width:40%;background:#29aae3;}
.main_body .m1 .m1c1 .m1c1_graph .bar ul li .txt_y{position:absolute;width:100%;top:100%;padding-top:10px;}
.main_body .m1 .m1c1 .m1c1_bbs{position:relative;height:251px;padding:0;overflow-y:auto;}
.main_body #tab1 table.bList{border-color:#868e99;}
.main_body #tab1 table.bList>*>tr>th{background:#262f3b;border-color:#868e99;font-weight:normal;}
.main_body #tab1 table.bList>*>tr>td{border-color:#868e99;color:#333;}
.main_body #tab1 table.bList>*>tr>td a {border-color:#868e99;color:#333;}

.main_body .m1 .m1c2{}
.main_body .m1 .m1c2:after{content:'';display:block;clear:both;}
.main_body .m1 .m1c2 a{float:left;width:50%;height:160px;text-align:center;}
.main_body .m1 .m1c2 a.item1{background:#374656;}
.main_body .m1 .m1c2 a.item2{background:#363f4e;}
.main_body .m1 .m1c2 a.item3{background:#2e3642;}
.main_body .m1 .m1c2 a .txt1{display:block;font-size:16px;color:#c9cbce;padding-top:30px;}
.main_body .m1 .m1c2 a .txt1 i{display:inline-block;width:20px;height:21px;background:url() 0 0 no-repeat;vertical-align:middle;}
.main_body .m1 .m1c2 a .txt2{display:block;font-size:30px;}
.main_body .m1 .m1c2 a .txt2 .num{font-size:50px;font-weight:bold;letter-spacing:-3px;}
.main_body .m1 .m1c2 a.item1 .txt1 i{background-image:url(../img/main/m1c2bg1.png);}
.main_body .m1 .m1c2 a.item2 .txt1 i{background-image:url(../img/main/m1c2bg2.png);}
.main_body .m1 .m1c2 a.item3 .txt1 i{background-image:url(../img/main/m1c2bg3.png);}
.main_body .m1 .m1c3{position:relative;margin-top:70px;width:99%;}
.main_body .m1 .m1c3 h3{position:absolute;left:0;bottom:-11px;font-size:17px;}
.main_body .m1 .m1c3 .bar{margin-left:70px;}
.main_body .m1 .m1c3 .bar .note{position:absolute;left:0;top:0;margin-left:47px;margin-top:-33px;width:45px;height:29px;background:url(../img/main/notebg1.png) 0 0 no-repeat;text-align:center;font-size:12px;line-height:25px;}
.main_body .m1 .m1c3 .bar .bg{position:relative;border:1px solid #8b94a2;height:15px;border-radius:10px;overflow: hidden;}
.main_body .m1 .m1c3 .bar .bg .ing{position:relative;width:0;height:100%;background:#f9787e;border-radius:0 10px 10px 0;}
.main_body #tab2 table.bList{border-color:#868e99;}
.main_body #tab2 table.bList>*>tr>th{background:#262f3b;border-color:#868e99;font-weight:normal;}
.main_body #tab2 table.bList>*>tr>td{border-color:#868e99;color:#333;}
.main_body #tab2 table.bList>*>tr>td a {border-color:#868e99;color:#333;}

    /* 고품회수관리 */
.main_body .m2{position:relative;}
/*.main_body .m2 i.arrow{position:absolute;right:0;top:50%;margin-top:-5px;display:block;width:49px;height:49px;background:url(../img/main/ic_arrow.png) 0 0 no-repeat;border-radius:30px;z-index:1;opacity:.5;}*/
.main_body .m2 a{float:left;position:relative;display:block;/*width:30%;min-width:200px;*/height:167px;border:1px solid #bbb;background:#fff;line-height:1.333;box-sizing: border-box;}
.main_body .m2 a i{position:absolute;right:18px;top:18px;display:block;width:75px;height:54px;background:url() 0 0 no-repeat;}
.main_body .m2 a .txt1{position:absolute;left:25px;top:25px;font-size:17px;}
.main_body .m2 a .txt2{position:absolute;left:20px;bottom:10px;color:#000;font-size:30px;}
.main_body .m2 a .txt2 .num{font-size:55px;font-weight:bold;letter-spacing:-3px;}
.main_body .m2 a.item1{width:calc(33.33% - 5px);margin-right:5px;}
.main_body .m2 a.item1 i{background-image:url(../img/main/m2item1bg1.png);}
.main_body .m2 a.item2{width:calc(33.33% - 10px);margin:0 5px;}
.main_body .m2 a.item2 i{background-image:url(../img/main/m2item2bg1.png);}
.main_body .m2 a.item3{width:calc(33.33% - 5px);margin-left:5px;}
.main_body .m2 a.item3 i{background-image:url(../img/main/m2item3bg1.png);}


/* 비용처리관리 */
.main_body .m3{position:relative;}
.main_body .m3:after{content:'';display:block;clear:both;}
.main_body .m3 table{width:100%;}
.main_body .m3 table td{width:25%;text-align:center;padding:.3em .32em;}
.main_body .m3 .m3tit{background:#3c4554;color:#fff;padding:2px 10px;}
.main_body .m3 .m3list{height:132px;overflow-y: auto;}
.main_body .m3 .m3list table{position:relative;border:1px solid #bbb;padding:0 10px;margin-top:7px;}
.main_body .m3 .m3list table td{background:#fff;}
.main_body .m3 .m3list table.status01 .status{color:#2d7fc4;}
.main_body .m3 .m3list table.status01 i.ic1{position:absolute;left:0;top:0;width:10px;height:100%;background:#29aae3;}
.main_body .m3 .m3list table.status02 .status{color:#b23d3d;}
.main_body .m3 .m3list table.status02 i.ic1{position:absolute;left:0;top:0;width:10px;height:100%;background:#f9787e;}
.main_body .m3 .m3list table.status03 .status{color:#588f17;}
.main_body .m3 .m3list table.status03 i.ic1{position:absolute;left:0;top:0;width:10px;height:100%;background:#72b226;}
.main_body .m3 .m3list table.status04 .status{color:#624a9b;}
.main_body .m3 .m3list table.status04 i.ic1{position:absolute;left:0;top:0;width:10px;height:100%;background:#9173d8;}
.main_body .m3 .m3list table.status05 .status{color:#212121;}
.main_body .m3 .m3list table.status05 i.ic1{position:absolute;left:0;top:0;width:10px;height:100%;background:#919191;}



/* 공지사항 */
.main_body .m4{position:relative;}


/* 게시판 */
.main_body .m5{position:relative;}
