@charset "utf-8";

/* 기본태그 */
html{overflow-y:hidden;}
*+html{overflow-x:hidden;}
body{margin:0;font-size:12px;line-height:1.666;overflow:hidden;color:#666;font-family:'NanumBarunGothic','맑은 고딕','Malgun Gothic','돋움',Dotum,Arial,sans-serif;}
i,em,address{font-style:normal;}
a{text-decoration:none;cursor:pointer;color:#666;}
ul{list-style:none;padding:0;}
img{border:0;vertical-align:middle;}

html,body{height:100%;}

/* form 태그 */
fieldset{padding:0;margin:0;border:0;}
input,textarea,select,button{vertical-align:middle;margin:1px 1px;}
input[type='text'],input[type='tel'],input[type='password'],input[type='file'],textarea,select{font-size:12px;color:#707070;box-sizing:border-box;height:calc(1.4125rem + 2px);border:1px solid #c5c5c5;border-radius:3px;padding-left:5px;padding-right:5px;}
input[type='text']:hover,input[type='tel']:hover,input[type='password']:hover,input[type='file']:hover,textarea:hover{border-color:#8aa3b7;}
input[type='text']:focus,input[type='tel']:focus,input[type='password']:focus,input[type='file']:focus,textarea:focus{border-color:#8aa3b7;box-shadow:0 0 6px #8aa3b7;}
input:disabled{background:#d6d8db;border:1px solid #c5c5c5;box-shadow:none;color:#777;}
input:disabled:hover{border:1px solid #c5c5c5;}


input[type='file']{padding-left:0;padding-right:0;}
input[type='radio'],
input[type='checkbox']{margin-right:5px;}
textarea{width:100%;min-height:100px;}
select{padding-left:5px;padding-right:0px;min-width:60px;}
button{font-size:13px;cursor:pointer;border:none;}


/* 클래스 - 영역 */
.wrap{position:relative;}


/* 클래스 - 정의 */
/* display */
.dpn{display:none !important;}
.dpb{display:block !important;}
.dpi{display:inline !important;}
.dpib{display:inline-block !important;}
.dpt{display:table !important;}
.dptc{display:table-cell !important;}

/* 정렬 */
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}
.taj{text-align:justify !important;}

/* 마진 */
.mb0{margin-bottom:0px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}


/* 버튼 */
a[class*='button'],button[class*='button']{display:inline-block;box-sizing:border-box;background:#6c757d;border-radius:5px;color:#fff;padding:0 12px;height:calc(1.5125rem + 3px);line-height:13px;vertical-align:middle;}
a[class*='button']:hover,button[class*='button']:hover{background:#505961;}
a[class*='button']{line-height:32px;}
button[type='submit']{background:#dc3545;}
button[type='submit']:hover{background:#d82233;}
td a[class*='button'],td button[class*='button']{font-size:12px;background:#dce5ec;border:1px solid #b1cbe0;color:#3c4554;font-weight:normal;border-radius:3px;padding:0 3px;}
td a[class*='button']:hover,td button[class*='button']:hover{background:#d1dfea;}

.base_btn td a[class*='button'],.base_btn td button[class*='button']{display:inline-block;border:none;box-sizing:border-box;background:#6c757d;border-radius:5px;color:#fff;padding:0 12px;height:calc(1.4125rem + 3px);line-height:16px;vertical-align:middle;}
.base_btn td a[class*='button']:hover,.base_btn td button[class*='button']:hover{background:#505961;}


.bc1 {background:#dc3545 !important;} /* 빨강 */
.bc1:hover {background:#d22b3b !important;}
.bc2 {background:#3393d4 !important;} /* 파랑 */
.bc2:hover {background:#287bb2 !important;}

a[class*='button'] i,button[class*='button'] i{display:inline-block;width:16px;height:16px;vertical-align: middle;margin:-3px 3px 0 0;background-position:50% 50%;background-repeat:no-repeat;}
/* white */
i.w_add{background-image:url(../img/lib/w/ic_add.png);}  /* 신규 */
i.w_search{background-image:url(../img/lib/w/ic_search.png);}  /* 검색 */
i.w_save{background-image:url(../img/lib/w/ic_save.png);}  /* 저장 */
i.w_list{background-image:url(../img/lib/w/ic_list.png);}  /* 리스트 */
i.w_cancel{background-image:url(../img/lib/w/ic_cancel.png);}  /* 취소 */
i.w_x{background-image:url(../img/lib/w/ic_x.png);}  /* 창닫기 */
i.w_del{background-image:url(../img/lib/w/ic_del.png);}  /* 삭제 */
i.w_edit{background-image:url(../img/lib/w/ic_edit.png);} /* 수정 */
i.w_reply{background-image:url(../img/lib/w/ic_reply.png);} /* 답변 */
i.w_plus{background-image:url(../img/lib/w/ic_plus.png);} /* 추가 */
i.w_minus{background-image:url(../img/lib/w/ic_minus.png);}  /* 빼기 */
i.w_nwin{background-image:url(../img/lib/w/ic_new.png);} /* 새창 */
i.w_down{background-image:url(../img/lib/w/ic_down.png);} /* 다운 */
i.w_up{background-image:url(../img/lib/w/ic_up.png);} /* 업로드 */
i.w_print{width:18px !important;background-image:url(../img/lib/w/ic_print.png);background-size:18px;} /* 프린트 */
i.w_ok{background-image:url(../img/lib/w/ic_ok.png);} /* 승인 */
i.w_stop{background-image:url(../img/lib/w/ic_stop.png);} /* 거부 */
i.w_claim{background-image:url(../img/lib/w/ic_claim.png);} /* 클레임 */
i.w_refresh{background-image:url(../img/lib/w/ic_refresh.png);background-size:contain;} /* 새로고침 */

/* black */
i.b_add{background-image:url(../img/lib/b/ic_add.png);}
i.b_search{background-image:url(../img/lib/b/ic_search.png);}
i.b_save{background-image:url(../img/lib/b/ic_save.png);}
i.b_list{background-image:url(../img/lib/b/ic_list.png);}
i.b_cancel{background-image:url(../img/lib/b/ic_cancel.png);}
i.b_x{background-image:url(../img/lib/b/ic_x.png);}
i.b_del{background-image:url(../img/lib/b/ic_del.png);}
i.b_edit{background-image:url(../img/lib/b/ic_edit.png);}
i.b_reply{background-image:url(../img/lib/b/ic_reply.png);}
i.b_plus{background-image:url(../img/lib/b/ic_plus.png);}
i.b_minus{background-image:url(../img/lib/b/ic_minus.png);}
i.b_nwin{background-image:url(../img/lib/b/ic_new.png);}
i.b_down{background-image:url(../img/lib/b/ic_down.png);}
i.b_up{background-image:url(../img/lib/b/ic_up.png);}

/* 말풍선 */
i.ic_help{display:inline-block;width:21px;height:21px;background:url(../img/lib/ic_help.png) 0 0 no-repeat;vertical-align: middle;}
.help_wrap{position:relative;display:inline-block;width:21px;height:21px;}
.help_wrap .help_txt{position:absolute;display:none;left:-80px;top:28px;z-index:1;width:180px;background:#fff;border:1px solid #6c757d;border-radius:5px;text-align:center;}
.help_wrap .help_txt:after{content:'';display:block;position:absolute;left:50%;top:0;margin-left:-5.5px;margin-top:-6px;width:11px;height:7px;background:url(../img/lib/help_txt.png) 0 0 no-repeat;}
.help_wrap .help_txt em{color:#ee4e42;font-weight:bold;}
.help_wrap .help_txt.on{display:block;}
/* 제목 */
/*
h2{font-size:17px;color:#333;padding:0 0 0 30px;margin:20px 0 0 0;background:url(../img/lib/h2bg1.png) 0 50% no-repeat;}
h2:first-child{margin-top:0;}
*/
/* h2 {display:inline-block;font-size:15px;margin:7px 10px;padding:5px 25px;background:url(../img/lib/h3bg1.png) 0 50% no-repeat;color:#333333;font-weight:bold;} */

/* 중요 */
.required{color:#ee4e42;}

/* 가로 크기 */
.w10{width:10%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w40{width:40%;}
.w50{width:50%;}
.w60{width:60%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}


/* 스크롤 관련 */
.gridscrollwrap{overflow:auto;}  /* jq grid 리스트 스크롤 */


/* 마진 */
.mtop10{margin-top:10px;}
.mtop20{margin-top:20px;}
.mtop30{margin-top:30px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}

/* 블라인드 */
.blind{position:absolute !important;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
*+html .blind{height:0;}


.explain{color:#888888;}
