@charset "utf-8";

.doc-wrap {
  min-width: 1280px;
}
/* #body */

/* #body_cotent */
#body_cotent{position:relative;padding:0;z-index:10;}

.sub-con-wrap {
  position: relative;
  padding: 3px 0px 15px 0;
}

/*서브페이지 제목 */
.sub-con-wrap .subpage-tit, .subpage-tit {
  font-size: 21px;
  padding-left: 15px;
  font-weight: bold;
  background: url(../img/sub-tit.png) no-repeat 1px 5px;
}

.sub-con-wrap .subpage-tit, .subpage-tit{
  font-family:"NanumBarunGothic";
  font-size:22px;
  color:#222;
}
.sub-con-wrap .sub-btn-group{
  position:absolute;
  right:0px;
  top:0px;
  width:calc(100% - 300px);
  height:38px;
  text-align:right;
}